<div class="wrapper">
  <!-- Banner   -->
    <div class="page-header clear-filter">
        <div class="rellax-header rellax-header-sky" data-rellax-speed="-8">
            <div class="page-header-image" style="background-image: url('assets/img/landing/hero_image.webp'); margin-top: -50px;">
            </div>
        </div>

        <div class="rellax-text-container rellax-text mx-4 mx-md-5" >
            <h1 class="h1-reo mx-1 mx-md-5 d-sm-block d-md-none" data-rellax-speed="-2">Discipling<br>Nations</h1>
            <h1 class="h1-reo mx-1 mx-md-5 d-none d-md-block" data-rellax-speed="-2" style="font-size: 8rem;">Discipling<br>Nations</h1>
            <h3 class="h3-description mx-1 mx-md-5" style="font-size: 1.2rem; margin-top: -10px; line-height: 1.2em;" data-rellax-speed="-1">Touching lives, Reaching Communities and Impacting Nations</h3>
            <h6 class="h3-description mx-1 mx-md-5" style="text-transform: uppercase; font-weight: 700;" data-rellax-speed="-1">Join Our Worship Services Live Every Sunday</h6>
            <a type="button" class="d-inline-flex btn text-white mx-1 mx-md-5" style="float:left; border: 2px solid #dee2e6 !important; font-weight: 700; background-color: transparent; font-size: medium; margin-top: 1rem;" target="_blank" rel="noreferrer noopener" href="https://www.youtube.com/@theadonaitube/streams" >Watch Live<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></a>
        </div>
    </div>
    <!-- New Comers -->
    <div class="container-fluid" style="background: rgb(255,255,255); background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 25%); background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 25%); background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 25%); position: relative; padding-top: 2rem; padding-bottom: 2rem; margin-top: -13rem;">
      <div class="rellax-text-container" >
          <div class="text-start">

            <div class="row" >
                <div class="col-md-6 col-sm-12 my-auto">
                    <h3 class="text-white" style="margin-bottom: 5px; font-weight: 600;">Welcome to Adonai</h3>
                </div>
              <div class="col-md-3 col-6">
                <a class="btn btn-primary" type="button" target="_blank" rel="noreferrer noopener" href="https://bit.ly/365RmaV" style="font-size: small; font-weight: 600; background-color: #e84e53;">NEW HERE ?</a>
              </div>
              <div class="col-md-3 col-6">
                <a class="btn btn-primary" type="button" target="_blank" rel="noreferrer noopener" href="https://docs.google.com/forms/d/e/1FAIpQLSfN_NMm6iBxIUspl8owD0Qb96ak5hgTOL3U7W2s3Y9e6ryRYA/viewform" style="font-size: small; font-weight: 600; background-color: #e84e53;">GET UPDATES</a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- Campus -->
    <div class="section section-basic-components">
      <div class="container">
          <div class="row mx-1 mx-md-2">
              <div class="col-lg-5 col-md-7 col-sm-12 mr-auto order-1">
                  <h2 class="title" style="padding-top: 0px; margin-bottom: 0px;">Our Campus</h2>
                  <h5 style="margin-top: 0.5em !important; font-weight: 600;">BANGALORE</h5>
                  <p style="margin: 1.5rem 0 1.5rem 0;">Come with us on a walkthrough of our new building, easily located and strategically placed close to the outer-ring road. The building is filled with unique architectural elements perfectly suited to its purpose.</p>
                  <button type="button" class="d-flex justify-content-start btn text-dark" style="border: 2px solid #111111 !important; font-weight: 700; background-color: white; font-size: medium;" [routerLink]="['/campus']">Know More</button>
              </div>
              <div class="col-lg-7 col-md-12 col-sm-12">
                  <div class="ratio-16x9">
                      <!-- <img class="components-macbook" src="assets/img/ipad.png" alt=""> -->
                      <img style="padding: 0 0 1.5rem 0;" src="assets/img/landing/campus_img_1.webp" alt="">
                      <!-- <img class="share-btn-img" src="assets/img/presentation-page/share-btn.jpg" alt=""> -->
                      <!-- <img class="coloured-card-btn-img" src="assets/img/presentation-page/coloured-card-with-btn.jpg" alt=""> -->
                      <!-- <img class="coloured-card-img" src="assets/img/presentation-page/coloured-card.jpg" alt=""> -->
                      <!-- <img class="social-img" src="assets/img/landing/campus_img_3.webp" alt=""> -->
                      <!-- <img class="linkedin-btn-img" src="assets/img/landing/campus_img_2.webp" alt=""> -->
                  </div>
              </div>
          </div>
        </div>
    </div>
    <!-- Service Timings -->
    <div class="subscribe-line" style="background-color:#eee">
        <div class="container">
           <div class="text-center">
                <h3 class="title" style="margin-bottom: 0px;">Service Timings</h3>
            </div>
                <div class="row text-center">
                    <div class="col-6 col-sm-4">
                        <div class="card card-plain card-form-horizontal" style="margin-top: 45px; margin-bottom: 0px;">
                            <div class="card-content">
                                <span class="badge" style="font-size: 1.2em; padding: 0.8rem; border-color: #000; background-color: #000;">8:30 AM</span>
                                <p style="font-size: medium; font-weight: 700; color: black; margin-top: 0.5rem; margin-bottom: 0.5rem; ">SUNDAY</p>
                                <p style="font-size:large; font-weight: 500; color: black; ">English</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4">
                        <div class="card card-plain card-form-horizontal" style="margin-top: 45px; margin-bottom: 0px;">
                            <div class="card-content">
                                <span class="badge" style="font-size: 1.2em; padding: 0.8rem; border-color: #000; background-color: #000;">11:00 AM</span>
                                <p style="font-size: medium; font-weight: 700; color: black; margin-top: 0.5rem; margin-bottom: 0.5rem; ">SUNDAY</p>
                                <p style="font-size:large; font-weight: 500; color: black;">English</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4">
                        <div class="card card-plain card-form-horizontal" style="margin-top: 45px; margin-bottom: 0px;">
                            <div class="card-content">
                                <span class="badge" style="font-size: 1.2em; padding: 0.8rem; border-color: #000; background-color: #000;">8:00 AM</span>
                                <p style="font-size: medium; font-weight: 700; color: black; margin-top: 0.5rem; margin-bottom: 0.5rem; ">SUNDAY</p>
                                <p style="font-size:large; font-weight: 500; color: black;">Tamil</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-6 col-sm-3">
                        <div class="card card-plain card-form-horizontal" style="margin-top: 45px; margin-bottom: 0px;">
                            <div class="card-content">
                                <span class="badge" style="font-size: 1.2em; padding: 0.8rem;  border-color: #000; background-color: #000;">6:30 PM</span>
                                <p style="font-size: medium; font-weight: 700; color: black; margin-top: 0.5rem; margin-bottom: 0.5rem; ">SATURDAY</p>
                                <p style="font-size:large; font-weight: 500; color: black;">Hindi</p>
                            </div>
                        </div>
                    </div> -->
                </div>
        </div>
    </div>
    <!-- Latest Sermon -->
    <div class="subscribe-line subscribe-line-white" style="background-image: url('assets/img/landing/bg1.webp');">
        <div class="container">
            <div class="row mx-1 mx-md-2">
                <div class="col-md-4 text-center">
                    <h4 class="title text-white">Latest Sermon</h4>
                    <!-- <p class="description text-primary">
                        View All Sermons
                    </p>  -->
                    <button type="button" class="btn text-white" style="border: 2px solid #ffffff !important; background-color: transparent; font-size: medium; font-weight: 700;" [routerLink]="['/sermons']">View All Sermons<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                </div>
                <div class="col-md-8 my-4">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/6tNmUg7ydckbn4RPfZeBse?utm_source=generator&theme=0" width="100%" height="252" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Announcements -->
    <div class="subscribe-line" data-background-color="white">
      <div class="container">
         <div class="text-center mx-3">
              <h2 class="title text-dark" style="font-size: 2.4rem;">Announcements</h2>
              <div class="ratio-16x9 ">
                <iframe src="https://player.vimeo.com/video/720941437?h=6072765ca0" style="height: 360px; width: 100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Announcements"></iframe>
              </div>
          </div>
            <h3 class="title text-dark text-md-start mx-3 mx-md-4" style="margin-bottom: 2rem;">Upcoming Events</h3>
              <div class="text-dark mx-3 mx-md-4" *ngFor="let items of sortedArray; let i = index">
                <div *ngIf="i < 3" class="row" style="align-items: center;">
                    <div class="col-md-3 col-6">
                        <div class="card-plain card-form-horizontal">
                            <div class="card-content">
                                <h5 class="text-dark" style="text-align: start; font-weight: 700;">{{items.sdate | date:'mediumDate'}}</h5>
                                <h5 class="text-dark" style="text-align: start; margin-bottom: 0px;">{{ items.sdate | date:'shortTime' }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-plain card-form-horizontal">
                            <div class="card-content text-dark">
                                <h4 class="text-dark" style="text-align: start; margin: 0 0;">{{ items.summary }}</h4>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="items.summary =='Encounter with God'" class="col-md-3 col-sm-6" style="text-align: -webkit-right;">
                      <div class="card-plain card-form-horizontal">
                          <div class="card-content text-dark">
                            <button type="button" class="d-flex justify-content-start btn text-dark" style="border: 2px solid #111111 !important; font-weight: 600; background-color: white; font-size: medium;" [routerLink]="['/ewgregister']">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                          </div>
                      </div>
                    </div>
                    <div *ngIf="items.summary =='Global Pastors Conference - Guwahati, Assam'" class="col-md-3 col-sm-6" style="text-align: -webkit-right;">
                      <div class="card-plain card-form-horizontal">
                          <div class="card-content text-dark">
                            <a type="button" class="d-inline-flex btn text-dark" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;" target="_blank" rel="noreferrer noopener" href="https://www.globalpastorsconference.com/">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></a>
                          </div>
                      </div>
                    </div>
                    <div *ngIf="items.summary =='Wholeness and Freedom Conference - Part II Dehradun'" class="col-md-3 col-sm-6" style="text-align: -webkit-right;">
                      <div class="card-plain card-form-horizontal">
                          <div class="card-content text-dark">
                            <button type="button" class="d-flex justify-content-start btn text-dark" style="border: 2px solid #111111 !important; font-weight: 700; background-color: white; font-size: medium;" [routerLink]="['/wfc2register']">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                          </div>
                      </div>
                    </div>
                    <div *ngIf="items.summary =='Wholeness & Freedom Pt - I'" class="col-md-3 col-sm-6" style="text-align: -webkit-right;">
                      <div class="card-plain card-form-horizontal">
                          <div class="card-content text-dark">
                            <button type="button" class="d-flex justify-content-start btn text-dark" style="border: 2px solid #111111 !important; font-weight: 700; background-color: white; font-size: medium;" [routerLink]="['/wfc1register']">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                          </div>
                      </div>
                    </div>
                    <div *ngIf="items.summary =='Wholeness & Freedom Pt - I (Eng/Hindi) Dehradun'" class="col-md-3 col-sm-6" style="text-align: -webkit-right;">
                      <div class="card-plain card-form-horizontal">
                          <div class="card-content text-dark">
                            <button type="button" class="d-flex justify-content-start btn text-dark" style="border: 2px solid #111111 !important; font-weight: 700; background-color: white; font-size: small;" [routerLink]="['/wfc1register']">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                          </div>
                      </div>
                    </div>
                    <div *ngIf="items.summary =='Wholeness & Freedom Conference PT - I (Eng / Tamil)'" class="col-md-3 col-sm-6" style="text-align: -webkit-right;">
                      <div class="card-plain card-form-horizontal">
                          <div class="card-content text-dark">
                            <button type="button" class="d-flex justify-content-start btn text-dark" style="border: 2px solid #111111 !important; font-weight: 700; background-color: white; font-size: medium;" [routerLink]="['/wfc1register']">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                          </div>
                      </div>
                    </div>
                    <div *ngIf="items.summary =='Wholeness and Freedom Conference - Part II Bangalore'" class="col-md-3 col-sm-6" style="text-align: -webkit-right;">
                      <div class="card-plain card-form-horizontal">
                          <div class="card-content text-dark">
                            <button type="button" class="d-flex justify-content-start btn text-dark" style="border: 2px solid #111111 !important; font-weight: 700; background-color: white; font-size: medium;"  [routerLink]="['/wfc2register']">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                          </div>
                      </div>
                    </div>
                    <div *ngIf="items.summary =='TAMIL - Living Free'" class="col-md-3 col-sm-6" style="text-align: -webkit-right;">
                      <div class="card-plain card-form-horizontal">
                          <div class="card-content text-dark">
                            <a type="button" class="d-inline-flex btn text-dark" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;" target="_blank" rel="noreferrer noopener" href="https://docs.google.com/forms/d/18UScNNcnGl6zWwFgLfI_1ydR7n0li3WXHs0QAFYR6pk/viewform">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></a>
                          </div>
                      </div>
                    </div>
                    <div *ngIf="items.summary =='Living Free'" class="col-md-3 col-sm-6" style="text-align: -webkit-right;">
                      <div class="card-plain card-form-horizontal">
                          <div class="card-content text-dark">
                            <a type="button" class="d-inline-flex btn text-dark" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;" target="_blank" rel="noreferrer noopener" href="https://docs.google.com/forms/d/e/1FAIpQLSeezFgFcvztS7N5gF6HVsjzRqL3w3rZtpg43MK85nmWdUSBkw/viewform">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></a>
                          </div>
                      </div>
                    </div>
                </div>
                <hr *ngIf="i < 3"/>
            </div>
        </div>
    </div>
    <!-- Carousel Section -->
    <div class="section" id="carousel" style="background-color: #EAD8F5;">
        <div class="container">
            <h2 class="title text-dark text-center" style="padding-top: 0em;">Our Conferences</h2>
          <div class="row justify-content-center mx-1 mx-md-3">
            <div >
              <ngb-carousel id="carousel" [interval]="2000">

                <ng-template ngbSlide>
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <img class="d-block col-md-6 col-sm-12 rounded" src="assets/img/landing/EWG_carousel.webp" alt="First slide" style="margin-bottom: 1em;">
                      </div>
                      <div class="col-md-6 col-sm-12" style="align-self: center;">
                        <p style="font-weight: 500;">The Encounter with God is a weekend programme that enables people to live life in abundance and experience freedom from rejection, curses and other areas they are struggling with. The teachings help establish a Godly foundation and answer various questions that people have about God. Through these sessions, we have witnessed many people healed and restored to wholeness through the understanding that comes from experiencing The love of God. The programme caters to people across various denominations and geographic locations."</p>
                        <button type="button" class="d-flex justify-content-start btn text-dark" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;" [routerLink]="['/ewg']">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                      </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <img class="d-block col-md-6 col-sm-12 rounded" src="assets/img/landing/WF_carousel.webp" alt="Second slide" style="margin-bottom: 1em;">
                      </div>
                      <div class="col-md-6 col-sm-12" style="align-self: center;">
                        <p>All of us undergo disappointment, hurt, and trauma; and if not dealt with, can often be held captive to them for life. Having been set free from the spirit of rejection and experienced freedom, Rev. Victor D’Monte set forth on a journey to discover the ministry of deliverance.</p>
                        <button type="button" class="d-flex justify-content-start btn text-dark" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;" [routerLink]="['/wfc1']">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                      </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <img class="d-block col-md-6 col-sm-12 rounded" src="assets/img/landing/WF2_carousel.webp" alt="Third slide" style="margin-bottom: 1em;">
                    </div>
                    <div class="col-md-6 col-sm-12" style="align-self: center;">
                      <p>At Adonai Ministries, it is our desire to see people restored from brokenness to wholeness and be equipped in the ministry of healing and deliverance. This ministry imparts a message of hope to the hurting by providing the stepping stones to train others on how to effectively minister to those in need.The Wholeness and Freedom Seminar provides it’s delegates with the skills as well as practical application in which they can grow in discernment.</p>
                      <button type="button" class="d-flex justify-content-start btn text-dark" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;" [routerLink]="['/wfc2']">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                    </div>
                  </div>
              </ng-template>
                <ng-template ngbSlide>
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <img class="d-block col-md-6 col-sm-12" src="assets/img/landing/GPC_carousel.webp" alt="Fourth slide" style="margin-bottom: 1em;">
                      </div>
                      <div class="col-md-6 col-sm-12" style="align-self: center;">
                        <p>Driven by his burden and passion for supporting pastors and leaders, he saw the need to organize a conference for pastors and full-time workers to be encouraged. Through the Global Pastoral Conference, Rev. Victor D'Monte endeavors to unite pastors and leaders from various backgrounds, cultures, and experiences, creating a space to learn, grow, and find encouragement as they serve the Body of Christ.</p>
                        <a type="button" class="d-inline-flex btn text-dark" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;" target="_blank" rel="noreferrer noopener" href="https://www.globalpastorsconference.com/">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></a>
                      </div>
                    </div>
                </ng-template>

              </ngb-carousel>
            </div>
          </div>
        </div>
      </div>
      <!-- Get Connected -->
    <div class="subscribe-line">
        <div class="container">
           <div class="text-center">
                <h2 class="title">Get Connected</h2>
            </div>
                <div class="row text-center mx-1 mx-md-3">
                    <div class="col-md-4 col-sm-12">
                        <div class="card card-background" style="background-image:url('assets/img/landing/cell_group.webp'); margin-top: 45px; margin-bottom: 0px;">
                            <div class="card-body text-start">
                                <h3 class="card-title">Cell<br>Group</h3>
                                <div class="card-footer text-start">
                                    <button type="button" class="btn text-white" style="border: 2px solid #ffffff !important; background-color: transparent; font-size: medium; font-weight: 700;" [routerLink]="['/cells']">Know More<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card card-background" style="background-image:url('assets/img/landing/kk.webp'); margin-top: 45px; margin-bottom: 0px;">
                            <div class="card-body text-start">
                                <h3 class="card-title">Kingdom<br>Kids</h3>
                                <div class="card-footer text-start">
                                    <button type="button" class="btn text-white" style="border: 2px solid #ffffff !important; background-color: transparent; font-size: medium; font-weight: 700;" [routerLink]="['/kkids']">Know More<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card card-background" style="background-image:url('assets/img/landing/marriage_course.webp'); margin-top: 45px; margin-bottom: 0px;">
                            <div class="card-body text-start">
                                <h3 class="card-title">Marriage<br>Course</h3>
                                <div class="card-footer text-start">
                                    <button type="button" class="btn text-white" style="border: 2px solid #ffffff !important; background-color: transparent; font-size: medium; font-weight: 700;" [routerLink]="['/marriage']">Know More<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center mx-1 mx-md-3">
                    <div class="col-12">
                        <div class="card" style="background-image:url('assets/img/landing/bg1.webp');">
                            <div class="card-body ">
                                <h3 class="card-title text-start text-white">Join Our Church Family</h3>
                                <div class="card-footer text-start">
                                    <a type="button" target="_blank" rel="noreferrer noopener" class="btn text-white" href="https://docs.google.com/forms/d/e/1FAIpQLSc0CI4iX4I2lG710xjcTghJWIi2zOwnfX0IxcfWCfP90RfSWg/viewform" style="border: 2px solid #ffffff !important; background-color: transparent; font-size: medium; font-weight: 700;">Join Us<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
