<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/banners/youth_banner.webp') ;">
      </div>
  </div>
  <div class="section" style="padding-bottom: 30px;">
      <div class="container">
          <div class="button-container mx-3" style="margin-top: -98px !important;">
            <div class="card tagcard" style="background-color: #FFF3DC;">
              <div class="card-body text-dark">
                <p class="tagline">Ignite the Spirit Within</p>
              </div>
            </div>
          </div>
          <p class="intro">At Youth Alive, we aim to create a vibrant and inclusive community where young people can encounter the love of God, grow in their relationship with Jesus Christ, and be equipped to live out their faith boldly. Through dynamic worship and engaging teaching, we aim to empower young people to live out their faith in every area of their lives and build authentic lasting relationships.</p>
      </div>
  </div>

  <!-- Carousel Section -->
  <div class="section" id="carousel" data-background-color="black">
    <div class="container">
      <div class="row mx-3">
        <div class="col-md-4">
          <h3 class="title text-white text-start" style="padding-top: 0px; margin-top: 0px;">Vision</h3>
          <p><!-- • Foundations <br> -->
            • To provide a place of belonging, where love and acceptance abound.<br>
            • To ignite a passion for Christ within the hearts of our youth.<br>
            • Resolving Conflict<br>
            • The Power of Forgiveness<br>
            • The Impact of Family<br>
            • Good Sex<br>
            • Love in Action
          </p>
        </div>
        <div class="col-md-8">
          <ngb-carousel id="carousel" [interval]="2000">
            <ng-template ngbSlide>
              <img src="assets/img/marriage/marriage1.webp" alt="Second slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/marriage/marriage2.webp" alt="Third slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/marriage/marriage3.webp" alt="Fourth slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/marriage/marriage4.webp" alt="Third slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/marriage/marriage5.webp" alt="Fourth slide" style="margin-bottom: 1em;">
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>

<!-- Details -->
  <div class="section section-testimonials " style="background-color: #EEE;">
    <div class="container">
      <!-- <div class="mx-auto" style="max-width: 850px; display: block;"> -->
        <!-- <div class="card-body text-dark"> -->
          <div class="row mx-1 mx-md-3">
            <div class="col-md-6">
              <img src="assets/img/marriage/marriage_course.webp" alt="" class="img rounded pb-3">
            </div>
            <div class="col-md-6" style="align-self: center;">
              <h2 class="title text-dark text-start pt-0 mt-0">Marriage Course</h2>
              <p class="text-start" style="font-weight: 500;">A seven-weekend workshop for married couples based on ‘The Alpha Marriage Course’, focuses on allowing couples to intentionally improve their relationship, whether they are in a married relationship for one year or 61 years or struggling in their relationships.</p>
              <p class="text-start" style="font-weight: 500;">The Alpha Marriage Course offers a lifetime of practical ideas and tools to improve and strengthen your relationship. This course consists of seven sessions which are as follows:</p>
              <a type="button" class=" btn text-dark" href="https://docs.google.com/forms/d/e/1FAIpQLScwhcLrMhAR-jaQ5nLTpu0RrIsjxzVrACgnPUmSCY8v7O9b1Q/viewform?vc=0&c=0&w=1&flr=0" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></a>
            </div>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>

</div>
