<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/banners/parenting_banner.webp') ;">
      </div>
  </div>
  <div class="section" style="padding-bottom: 30px;">
      <div class="container">
          <div class="button-container mx-3">
            <div class="card tagcard" style="background-color: #FFE5DD;">
              <div class="card-body text-dark">
                <p class="tagline">“Your greatest contribution to the kingdom of God may not be something you do, but someone you raise" - Andy Stanley</p>
              </div>
            </div>
          </div>
          <!-- <p class="intro">The Parenting Course is a series of six sessions designed by “The Alpha Course” to help parents train up their children in the way they should go, so when they are old, they won’t depart from it. The formative years (0-10 yrs) when children are developing their worldviews is most critical. As parents, we must recognize the weight of the responsibility entrusted to us by God and raise them in an environment that values faith, instilling a strong sense of identity and purpose in them.</p> -->
          <div class="ratio-16x9">
            <!-- <iframe src="https://player.vimeo.com/video/720941437?h=6072765ca0" style="height: 360px; width: 100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Announcements"></iframe> -->

            <iframe src="https://player.vimeo.com/video/913254477" style="height: 360px; width: 100%;" frameborder="0" allow="fullscreen; picture-in-picture"  title="Parenting Course"></iframe>

          </div>
      </div>
  </div>
  <!-- Details -->
  <div class="section section-testimonials " style="background-color: #EEE;">
    <div class="container">
      <!-- <div class="mx-auto" style="max-width: 850px; display: block;"> -->
        <!-- <div class="card-body text-dark"> -->
          <div class="row mx-1 mx-md-3">
            <div class="col-md-6">
              <img src="assets/img/parenting/parenting_course.webp" alt="" class="img rounded pb-3">
            </div>
            <div class="col-md-6" style="align-self: center;">
              <h2 class="title text-dark text-start pt-0 mt-0">Parenting Course</h2>
              <p class="text-start" style="font-weight: 500;">The Parenting Course is a series of five sessions designed by “The Alpha Course” to help parents train up their children in the way they should go, so when they are old, they won’t depart from it. The formative years (0-10 yrs) when children are developing their worldviews is most critical. As parents, we must recognize the weight of the responsibility entrusted to us by God and raise them in an environment that values faith, instilling a strong sense of identity and purpose in them.</p>
              <!-- <a type="button" class="btn text-dark" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></a> -->
            </div>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
  <!-- Carousel Section -->
  <div class="section" id="carousel" data-background-color="black">
    <div class="container">
      <div class="row mx-3">
        <div class="col-md-4">
          <h3 class="title text-white text-start" style="padding-top: 0px; margin-top: 0px;">Topics</h3>
          <p><!-- • Foundations <br> -->
            • Build a strong foundation<br>
            • Meet our children's needs<br>
            • Nurture their gifts and talents<br>
            • Set boundaries<br>
            • Teach them how to cultivate healthy relationships<br>
          </p>
        </div>
        <div class="col-md-8">
          <ngb-carousel id="carousel" [interval]="2000">
            <ng-template ngbSlide>
              <img src="assets/img/parenting/parenting_1.webp" alt="Second slide" style="margin-bottom: 1em;">
            </ng-template>
            <!-- <ng-template ngbSlide>
              <img src="assets/img/ewg/ewg_3.webp" alt="Third slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/ewg/ewg_4.webp" alt="Fourth slide" style="margin-bottom: 1em;">
            </ng-template> -->
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
<!-- Cost Venue Contact -->
  <div class="section" style="padding-top: 0rem; background-color:#FFE5DD;">
    <div class="container mx-auto">
                  <div class="row text-dark mx-3" >
                      <!-- <div class="col-md-6">
                        <h4 class="title text-dark text-start">Online Cost</h4>
                          <div class="row">
                            <div class="col-md-6">

                              <h6 style="font-size: small;">Rs. 1,000/- per couple</h6>
                                 <h6>Time</h6>
                                 <p style="font-size: small;">
                                  Sat: 9 am - 5:30 pm<br>
                                  Sun: 8:30 am - 4 pm
                                 </p>
                            </div>
                            <div class="col-md-6">
                              <h6>Contact</h6>
                              <p class="author" style="margin-bottom: 0rem;">Renold George</p>
                              <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: small; color: #000000; font-weight: 600;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98123 56789</button>
                            </div>
                            <hr class="d-md-none d-sm-block" style="margin-top: 2rem;">
                          </div>
                      </div>  -->
                      <!-- <div class="col-md-12"> -->
                        <h3 class="title text-dark text-md-center text-start">Online Cost</h3>
                        <!-- <div class="row"> -->
                          <div class="col-md-2"></div>
                          <div class="col-md-4">
                            <h6 style="font-size: small;">Rs. 200/- per couple</h6>
                               <h6>Time</h6>
                               <p style="font-size: small;">
                                8:00 pm (Every Tuesday)<br>
                                5 Sessions
                               </p>
                          </div>
                          <div class="col-md-4" >
                            <h6>Contact</h6>
                              <p class="text-start mb-0" style="font-size:small;">Coordinator:</p>
                              <h5 class="text-start" style="font-weight: 700;">Manoj and Kiran</h5>
                            <a type="button" class="btn text-dark" href="tel:+919845370818" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98453 70818</a>
                          </div>
                        <div class="col-md-2"></div>
                        <!-- </div> -->
                    <!-- </div> -->
                  </div>
    </div>
  </div>
</div>
