<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/marriage/marriage_banner.webp') ;">
      </div>
  </div>
  <div class="section">
      <div class="container">
          <div class="button-container">
            <div class="card" style="max-width: 650px; background-color: #FFE5DD;">
              <div class="card-body text-dark">
                <p style="margin-bottom: auto;">“A happy healthy marriage leads to a happy healthy family”</p>
              </div>
            </div>
          </div>
          <p class="text-start mx-3" style="margin-top: 1rem; font-size: small;">The Parenting Course is a series of six sessions designed by “The Alpha Course” to help parents of 0 to 10 year olds to equip their children emphasizing the role of the family.</p>
          <div class="ratio-16x9">
            <iframe src="https://player.vimeo.com/video/720941437?h=6072765ca0" style="height: 360px; width: 100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Announcements"></iframe>
          </div>
      </div>
  </div>
  <!-- Details -->
  <div class="section section-testimonials " style="background-color: #EEE;">
    <div class="mx-4">
      <div class="mx-auto" style="max-width: 850px; display: block;">
        <div class="card-body text-dark">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/marriage/alpha_marriage.webp" alt="" class="img rounded ">
            </div>
            <div class="col-md-6">
              <h3 class="card-title text-dark text-start" style="font-weight: 600; margin-top: 0em; margin-bottom: 1rem;">Parenting Teens</h3>
              <p class="text-start" style="font-size: small; font-weight: 500;">A seven-weekend workshop for married couples based on ‘The Alpha Marriage Course’. It focuses on allowing couples to intentionally improve their relationship, whether they are in a married relationship for one year or 61 years or struggling in their relationships.</p>
              <p class="text-start" style="font-size: small; font-weight: 500;">The Alpha Marriage Course offers a lifetime of practical ideas and tools to improve and strengthen your relationship. This course consists of seven sessions which are as follows:</p>
              <button type="button" class="d-flex justify-content-start btn text-dark" style="border: 2px solid #111111 !important; font-weight: 600; background-color: transparent; font-size: small;">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel Section -->
  <div class="section" id="carousel" data-background-color="black">
    <div class="container">
      <div class="row mx-3">
        <div class="col-md-4">
          <h3 class="title text-white text-start">Topics</h3>
          <p><!-- • Foundations <br> -->
            • Building strong foundations<br>
            • Meeting our children’s needs<br>
            • Setting boundaries<br>
            • Teaching healthy relationships<br>
            • Our children’s long-term aim<br>
          </p>
        </div>
        <div class="col-md-8">
          <ngb-carousel id="carousel" [interval]="2000">
            <ng-template ngbSlide>
              <img src="assets/img/ewg/ewg_2.webp" alt="Second slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/ewg/ewg_3.webp" alt="Third slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/ewg/ewg_4.webp" alt="Fourth slide" style="margin-bottom: 1em;">
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
<!-- Cost Venue Contact -->
  <div class="section" style="padding-top: 0rem; background-color:#FFE5DD;">
    <div class="container mx-auto">
                  <div class="row text-dark mx-3" >
                      <!-- <div class="col-md-6">
                        <h4 class="title text-dark text-start">Online Cost</h4>
                          <div class="row">
                            <div class="col-md-6">

                              <h6 style="font-size: small;">Rs. 1,000/- per couple</h6>
                                 <h6>Time</h6>
                                 <p style="font-size: small;">
                                  Sat: 9 am - 5:30 pm<br>
                                  Sun: 8:30 am - 4 pm
                                 </p>
                            </div>
                            <div class="col-md-6">
                              <h6>Contact</h6>
                              <p class="author" style="margin-bottom: 0rem;">Renold George</p>
                              <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: small; color: #000000; font-weight: 600;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98123 56789</button>
                            </div>
                            <hr class="d-md-none d-sm-block" style="margin-top: 2rem;">
                          </div>
                      </div>  -->
                      <!-- <div class="col-md-12"> -->
                        <h3 class="title text-dark text-md-center text-start">Offline Cost</h3>
                        <!-- <div class="row"> -->
                          <div class="col-md-2"></div>
                          <div class="col-md-4">
                            <h6 style="font-size: small;">Rs. 2,000/- per couple</h6>
                               <h6>Time</h6>
                               <p style="font-size: small;">
                                Sat: 9 am - 5:30 pm<br>
                                Sun: 8:30 am - 4 pm
                               </p>
                          </div>
                          <div class="col-md-4" >
                            <h6>Contact</h6>
                            <p class="author" style="margin-bottom: 0rem;">Manoj and Kiran</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: small; color: #000000; font-weight: 600;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98123 56789</button>
                          </div>
                          <div class="col-md-2"></div>
                        <!-- </div> -->
                    <!-- </div> -->
                  </div>
    </div>
  </div>
  <!-- Testimonies -->
  <div class="subscribe-line">
    <div class="container">
       <div class="text-center">
            <h2 class="title text-start">Testimonies</h2>
        </div>
            <div class="row text-center">
                <div class="col-md-4 col-sm-12">
                  <div class="card card-plain">
                    <div class="card-image">
                      <img class="img rounded" src="assets/img/marriage/marriage1.webp">
                    </div>
                  </div>
                    <div class="card-body text-start">
                      <h6 class="card-title text-dark">Truth has set me Free</h6>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="card card-plain">
                    <div class="card-image">
                      <img class="img rounded" src="assets/img/marriage/marriage1.webp">
                    </div>
                  </div>
                  <div class="card-body text-start">
                    <h6 class="card-title text-dark">HEALED FROM SPONDYLITIS</h6>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="card card-plain">
                    <div class="card-image">
                      <img class="img rounded" src="assets/img/marriage/marriage1.webp">
                    </div>
                  </div>
                  <div class="card-body text-start">
                    <h6 class="card-title text-dark">Freed from Burdens</h6>
                </div>
                </div>
            </div>
    </div>
  </div>
</div>
