<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/cells/cell_banner.webp') ;">
      </div>
      <div class="content-center">
          <h1 class="title">Cell Groups</h1>
      </div>
  </div>
  <div class="section">
      <div class="container">
          <div class="button-container mx-3">
            <div class="card mx-auto" style="max-width: 600px; background-color: #FFE5DD;">
              <div class="card-body text-dark">
                <p style="margin-bottom: auto; line-height: 1.4em; font-size: medium;">“They devoted themselves to the apostles teaching and to fellowship, to the breaking of bread and to prayer.” Acts 2:42</p>
              </div>
            </div>
          </div>
          <p class="text-center mx-3" style="margin-top: 1rem; margin-bottom: -1.8rem; font-weight: 500;">Being part of a Church is more than just attending service on Sunday. Cell groups are a place for you to learn and apply the Word of God, build relationships with each other in love and grow spiritually.</p>
      </div>
  </div>
  <!-- Location -->
  <div class="container">
            <div class="row">
              <div class="nav-tabs-navigation col-md-6 px-4" data-background-color="black" data-tabs-color="black" style="padding-bottom: 1.2em;">
                <h2 class="title text-start px-3">Location</h2>
                <div class="nav-tabs-wrapper px-1">
                  <ul [(activeId)]="activeTab1" ngbNav #nav2="ngbNav" class="text-start nav-tabs list-inline" style="font-weight: 600;">
                    <li [ngbNavItem]="1" class="list-inline-item">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">BENSON TOWN</a>
                     <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Edwin.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">EDWIN & ESHA</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700; text-decoration: none;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 88616 36827</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="2" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">KORAMANGALA</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Thomas.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">THOMAS & TABITHA</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99459 77990</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="3" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">COX TOWN</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Manoj.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">MANOJ & KIRAN</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98453 70818</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="4" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">RAJAJINAGAR</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Anthony.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">ANTHONY & CATHERINE</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99004 62479</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="5" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">HENNUR / JAKKUR</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Thomas.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">THOMAS & ANILA</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 95389 29990</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="6" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">KAMMANAHALLI</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Charles.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">MICHAEL & CHERYL</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98867 81749</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="7" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">JALLAHALLI</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Anthony.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">ANTHONY & CATHERINE</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99004 62479</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="8" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">LINGARAJAPURAM</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Charles.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">MICHAEL & CHERYL</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98867 81749</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="9" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">MAHADEVAPURA / WHITEFIELD</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Sujit.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">SUJIT & DHANYA</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98408 33110</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="10" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">SARJAPUR</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Charles.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">RENOLD & SWEETY</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98456 16768</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="11" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">COOKE TOWN</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Shashi.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">SHASHI & DIVYASHREE</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98456 16768</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="12" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">WORSHIP CELL</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Wesley.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">WESLEY & SHARON</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98456 16768</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="13" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">RAMURTHYNAGAR / HORAMAVU</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/John.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">JOHN & NALINI</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98456 16768</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="14" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">BABUSAPALYA</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Mammen.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">MAMMEN & SHILPA</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98456 16768</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="15" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">INDIRANAGAR</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Charles.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">CHARLES & BETH</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98456 16768</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="16" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem;">RT NAGAR</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Edwin.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">EDWIN & ESHA</h4>
                            <p style="line-height: 1.4em;">Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98456 16768</button>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                  </ul>
                </div>
              </div>
              <div [ngbNavOutlet]="nav2" class="text-start col-md-6" style="padding-top: 3rem; padding-bottom: -16px; background-color: #FFE5DD;"></div>
            </div>
  </div>

  <!-- Testimonials -->
  <section class="section-cards mb-5">
    <div class="content-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-10 col-12 mx-auto text-start">
            <h3 class="title text-dark text-center mx-auto" style="font-weight: 700;">What People Say ?</h3>
          </div>
          <div class="col-md-12 col-md-6">
            <div class="presentation-cards d-flex flex-column-reverse">
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides text-center">
                  <li class="glide__slide">
                    <div class="card card-testimonial" style="width: 280px; background-color: #E5EDFF;">
                      <div class="card-body">
                          <i style="font-size: 3rem; color: #000000; font-weight: 700; margin-right: 250px;">"</i>
                          <h5 class="text-dark text-start" style="font-weight: 500; font-size: medium;">Two first-year BSSM students experienced a miracle when one prayed for the other, and breakthrough from a lifelong affliction resulted.
                          </h5>
                      </div>
                  </div>
                  </li>
                  <li class="glide__slide">
                    <div class="card card-testimonial" style="width: 280px; background-color: #FFE5DD;">
                      <div class="card-body">
                        <i style="font-size: 3rem; color: #000000; font-weight: 700; margin-right: 250px;">"</i>
                          <h5 class="text-dark text-start" style="font-weight: 500; font-size: medium;">A couple unknowingly leaves a conference just in time to help save a couple and their home from fire.
                          </h5>
                      </div>
                  </div>
                  </li>
                  <li class="glide__slide">
                    <div class="card card-testimonial" style="width: 280px; background-color: #EAD8F5;">
                      <div class="card-body">
                        <i style="font-size: 3rem; color: #000000; font-weight: 700; margin-right: 250px;">"</i>
                          <h5 class="text-dark text-start" style="font-weight: 500; font-size: medium;">A woman is healed of the pain and symptoms of fibromyalgia.
                          </h5>
                      </div>
                  </div>
                  </li>
                </ul>
              </div>
              <div class="glide__arrows" data-glide-el="controls">
                <button
                  style="border: 3px solid #000;"
                  class="glide__arrow glide__arrow--left text-default"
                  aria-label="Previous"
                  data-glide-dir="<"
                >
                  <i class="fa fa-arrow-left"> </i>
                </button>
                <button
                  style="border: 3px solid #000;"
                  class="glide__arrow glide__arrow--right text-default"
                  aria-label="Next"
                  data-glide-dir=">"
                >
                  <i class="fa fa-arrow-right"> </i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
