<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/banners/cell_banner.webp') ;">
      </div>
      <div class="content-center">
          <h1 class="title">Cell Groups</h1>
      </div>
  </div>
  <div class="section">
      <div class="container">
          <div class="button-container mx-3">
            <div class="card mx-auto" style="max-width: 600px; background-color: #FFE5DD;">
              <div class="card-body text-dark">
                <p style="margin-bottom: auto; line-height: 1.4em; font-size: medium;">“The Helper, the Holy Spirit, whom the Father will send in my name, He will teach you all things, and bring to your remembrance all things that I said to you." John 14:26</p>
              </div>
            </div>
          </div>
          <p class="text-center mx-3" style="margin-top: 1rem; margin-bottom: -1.8rem; font-weight: 500;">Being part of a Church is more than just attending service on Sunday. Cell groups are a place for you to learn and apply the Word of God, build relationships with each other in love and grow spiritually.</p>
      </div>
  </div>
  <!-- Location -->
  <div class="container mb-5">
            <div class="row">
              <div class="nav-tabs-navigation col-md-6 px-4" data-background-color="black" data-tabs-color="black" style="padding-bottom: 1.2em;">
                <h2 class="title text-start px-3">Location</h2>
                <div class="nav-tabs-wrapper px-1">
                  <ul [(activeId)]="activeTab1" ngbNav #nav2="ngbNav" class="text-start nav-tabs list-inline" style="font-weight: 600;">
                    <li [ngbNavItem]="1" class="list-inline-item">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">BENSON TOWN</a>
                     <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Edwin.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">EDWIN & ESHA</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+918861636827"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 88616 36827</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="2" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">KORAMANGALA</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/ThomasT.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">THOMAS & TABITHA</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919945977990"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99459 77990</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="3" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">COX TOWN</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Michael.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">MICHAEL & CHERYL</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919886781749"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98867 81749</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="4" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">RAJAJINAGAR</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Anthony.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">ANTHONY & CATHERINE</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919900462479"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99004 62479</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="5" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">HENNUR / JAKKUR</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Thomas.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">THOMAS & ANILA</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919538929990"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 95389 29990</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="6" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">KAMMANAHALLI</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Shadrach.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">SUNNY & MEGAN</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919591577168"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 95915 77168</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="7" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">JALAHALLI</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Anthony.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">ANTHONY & CATHERINE</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919900462479"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99004 62479</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="8" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">LINGARAJAPURAM</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Michael.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">MICHAEL & CHERYL</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919886781749"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98867 81749</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="9" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">MAHADEVAPURA / WHITEFIELD</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Sujit.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">SUJIT & DHANYA</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919840833110"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98408 33110</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="10" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">SARJAPUR</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Renold.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">RENOLD & SWEETY</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919035697380"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 90356 97380</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="11" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">COOKE TOWN</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Shashi.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">SHASHI & DIVYASHREE</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919916441572"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99164 41572</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="12" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">WORSHIP CELL</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Wesley.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">WESLEY & SHARON</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+917619678707"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 76196 78707</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="13" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">RAMAMURTHYNAGAR</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/John.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">JOHN & NALINI</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919886656365"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98866 56365</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="14" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">BABUSAPALYA</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Rakesh.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">RAKESH & LARISSA</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919008638030"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 90086 38030</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="15" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">INDIRANAGAR</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Charles.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">CHARLES & BETH</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919845616768"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98456 16768</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="16" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">RT NAGAR</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Edwin.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">EDWIN & ESHA</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+918861636827"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 88616 36827</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="17" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">BANASWADI</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/David.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">DAVID & MANJULA</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919845176878"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98451 76878</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="18" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">HENNUR / KOTHANUR</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Manoj.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">MANOJ & KIRAN</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919845370818"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98453 70818</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="19" class="list-inline-item" style="margin-right: 0rem;">
                      <a ngbNavLink style="padding: 0.5rem 0.5rem; font-size: 1.2em;font-weight: 500;">HORAMAVU</a>
                      <ng-template ngbNavContent>
                        <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                          <div class="card-image">
                            <img class="img rounded img-raised mx-auto d-block" src="assets/img/cells/Charles.webp">
                          </div>
                          <div class="card-body mx-4">
                            <h4 class="card-title" style="font-weight: 700;">CHARLES & BETH</h4>
                            <!-- <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p> -->
                            <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+919845616768"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98456 16768</a>
                            <p style="font-size: small;">Available timings: 9:00 am to 4:30 pm (Tue to Fri)</p>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                  </ul>
                </div>
              </div>
              <div [ngbNavOutlet]="nav2" class="text-start col-md-6" style="padding-top: 3rem; padding-bottom: -16px; background-color: #FFE5DD;"></div>
            </div>
  </div>

</div>
