<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
      </div>
      <div class="content-center">
          <h1 class="title">Cell Groups</h1>
      </div>
  </div>
  <div class="section">
      <div class="container">
          <div class="button-container">
            <div class="card" style="max-width: 650px; background-color: #FFE5DD;">
              <div class="card-body text-dark">
                <p style="margin-bottom: auto;">“They Devoted Themselves To The Apostles Teaching And To Fellowship, To The Breaking Of Bread And To Prayer.” Acts 2:42</p>
              </div>
            </div>
          </div>
          <p class="text-center" style="margin-top: 1rem; font-size: small; font-weight: 600;">Being part of a Church is more than just attending service on Sunday. Cell groups are  a place for you to learn and apply the Word of God, build relationships with each other in love and grow spiritually.</p>
            <div class="row">
              <div class="nav-tabs-navigation col-md-6" data-background-color="black" data-tabs-color="black">
                <div class="nav-tabs-wrapper">
                  <ul [(activeId)]="activeTab1" ngbNav #nav2="ngbNav" class="text-center nav-tabs">
                    <li [ngbNavItem]="1">
                      <a ngbNavLink>BENSON TOWN</a>
                      <ng-template ngbNavContent>
                        <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                      <a ngbNavLink>KORAMANGALA</a>
                      <ng-template ngbNavContent>
                        <p> Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage. </p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                      <a ngbNavLink>COX TOWN</a>
                      <ng-template ngbNavContent>
                        <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="4">
                      <a ngbNavLink>RAJAJINAGAR</a>
                      <ng-template ngbNavContent>
                        <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="5">
                      <a ngbNavLink>HENNUR</a>
                      <ng-template ngbNavContent>
                        <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="6">
                      <a ngbNavLink>KAMMANAHALLI</a>
                      <ng-template ngbNavContent>
                        <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="7">
                      <a ngbNavLink>JALLAHALLI</a>
                      <ng-template ngbNavContent>
                        <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="8">
                      <a ngbNavLink>LINGARAJAPURAM</a>
                      <ng-template ngbNavContent>
                        <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="9">
                      <a ngbNavLink>MAHADEVAPURA / WHITEFIELD</a>
                      <ng-template ngbNavContent>
                        <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="10">
                      <a ngbNavLink>SARJAPUR</a>
                      <ng-template ngbNavContent>
                        <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="11">
                      <a ngbNavLink>COOKE TOWN</a>
                      <ng-template ngbNavContent>
                        <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="12">
                      <a ngbNavLink>WORSHIP CELL</a>
                      <ng-template ngbNavContent>
                        <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="13">
                      <a ngbNavLink>RAMURTHYNAGAR</a>
                      <ng-template ngbNavContent>
                        <p>Charles and Beth have been in Adonai for the last 14 years. Their passion is to see the Church now be like the early Church, moving in signs, wonders and impacting the nations. They have a heart to see the people in the Church be discipled and effectively impact the community around. Beth heads the Kingdom Kids. Together they are a part of the Ministry Team, the Pastoral Team and the Living Free Marriage.</p>
                      </ng-template>
                    </li>
                  </ul>
                  <!-- <div [ngbNavOutlet]="nav2" class="mt-2 text-center"></div> -->
                </div>
              </div>
              <div [ngbNavOutlet]="nav2" class="mt-2 text-center col-md-6"></div>
            </div>
      </div>
  </div>


</div>
