<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/banners/belief_banner.webp') ;">
      </div>
      <!-- <div class="content-center">
        <h1 class="title">Divine Exchange</h1>
    </div> -->
  </div>
  <div class="section" style="padding-bottom: 30px;">
      <div class="container">
          <div class="button-container mx-3" style="margin-top: -98px !important;">
            <div class="card tagcard" style="background-color: #FFF3DC;">
              <div class="card-body text-dark">
                <p class="tagline">Divine Exchange</p>
              </div>
            </div>
          </div>
          <!-- <p class="intro">We are called to come together as individuals to add to the growth, edification and building up of the Body of Christ.</p> -->
          <div class="row mt-3 mx-2">
            <div class="col-md-12">
                <div class="mx-1 mx-md-3 text-center">
                    <!-- <div class="icon icon-default">
                        <i class="fa fa-user fa-3x"></i>
                    </div> -->
                    <div class="description">
                        <h6 class="card-title text-center text-dark mb-2" style="font-size: large; margin-bottom: 0rem;">The Godhead (Trinity)</h6>
                        <p class="mt-1 mx-3 text-dark text">We believe in one true God, eternally existing in three distinct persons (Father, Son and Holy Spirit) each of whom is fully and equally God.</p>
                    </div>
                    <div class="description">
                        <h6 class="card-title text-center text-dark mb-2" style="font-size: large; margin-top: 1rem; margin-bottom: 0rem;">God the Father</h6>
                        <p class="mx-3 text-dark">We believe that God the Father is the first person of the Trinity and is eternal, unchanging, all powerful, all-knowing, all-wise, all-loving, completely just and the perfect holy sovereign Ruler and Sustainer of the universe. He is the Father of our Lord and Savior Jesus Christ and the Father of all true believers.</p>
                    </div>
                    <div class="description">
                        <h6 class="card-title text-center text-dark mb-2" style="font-size: large; margin-top: 1rem; margin-bottom: 0rem;">Jesus Christ</h6>
                        <p class="mx-3 text-dark">We believe that Jesus Christ is the only begotten eternal Son of God who became God in flesh to reveal God to man and to become the Savior of the world. Jesus is fully God and fully man inseparably united in one person forever. With regards to Jesus we believe in the following:</p>
                            <div class="row text-start mx-3" style="font-size: medium;">
                                <div class="col-md-6 text-dark">
                                  <ul>
                                    <li>Miraculous virgin birth</li>
                                    <li>Sinless life</li>
                                    <li>Substitutionary, all-sufficient, atoning sacrifice for sin and sickness on the cross</li>
                                  </ul>
                                </div>
                                <div class="col-md-6 text-dark">
                                  <ul>
                                    <li>Death, burial and bodily resurrection</li>
                                    <li>Ascension back to the Father in His glorified body</li>
                                    <li>Return to rapture His church</li>
                                    <li>Second coming to judge sin and usher in His millennial kingdom reign on earth</li>
                                  </ul>
                                </div>
                            </div>
                    </div>
                    <div class="description">
                        <h6 class="card-title  text-dark text-center mb-2" style="font-size: large; margin-top: 1rem; margin-bottom: 0rem;">Holy Spirit</h6>
                        <p class="text-dark">We believe the Holy Spirit is the primary agent for conviction of sin and the regeneration of unbelievers. Simultaneously with salvation, the Holy Spirit imparts new life, baptizes the believer into the body of Christ, and permanently indwells and seals the believer. We also believe that the baptism of the Holy Spirit is a separate experience, with the evidence of speaking in other tongues.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <div class="mx-1 mx-md-3 text-center">
                    <!-- <div class="icon icon-default">
                        <i class="fa fa-book fa-3x"></i>
                    </div> -->
                    <div class="description">
                        <h6 class="card-title text-dark text-center mb-2" style="font-size: large; margin-bottom: 0rem;">The Scriptures</h6>
                        <p class="text-dark">We believe that the entire Bible is the inspired, infallible, authoritative Word of God.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <div class="mx-1 mx-md-3 text-center">
                    <!-- <div class="icon icon-default">
                        <i class="fa fa-heartbeat fa-3x"></i>
                    </div> -->
                    <div class="description">
                        <h6 class="card-title text-dark text-center mb-2" style="font-size: large; margin-bottom: 0rem;">Salvation</h6>
                        <p class="text-dark">We believe that salvation is by grace alone. The shed blood of Jesus Christ on the cross provides the sole basis for the forgiveness of sins and for salvation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <div class="mx-1 mx-md-3 text-center">
                    <!-- <div class="icon icon-default fa-3x">
                        <i class="fa fa-group"></i>
                    </div> -->
                    <div class="description">
                        <h6 class="card-title text-dark text-center mb-2" style="font-size: large; margin-bottom: 0rem;">The Church</h6>
                        <p class="text-dark">We believe that the church is the body of Christ of which Jesus is the Head and whose members are those who have truly received Christ by faith.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <div class="mx-1 mx-md-3 text-center">
                    <!-- <div class="icon icon-default fa-3x">
                        <i class="fa fa-user"></i>
                    </div> -->
                    <div class="description">
                        <h6 class="card-title text-dark text-center mb-2" style="font-size: large; margin-bottom: 0rem;">Eternal Destiny of Man</h6>
                        <p class="text-dark">We believe in the bodily resurrection of believers to eternal life and fellowship with God, and the bodily resurrection of unbelievers to punishment and eternal separation from God.</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>

</div>
