<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/banners/serve_banner.webp') ;">
      </div>
      <!-- <div class="content-center">
        <h1 class="title">Serving</h1>
    </div> -->
  </div>
  <div class="section" style="padding-bottom: 30px;">
      <div class="container">
          <div class="button-container mx-3">
            <div class="card tagcard" style="background-color: #E5EDFF;">
              <div class="card-body text-dark">
                <p class="tagline">“From him, the whole body, joined and held together by every supporting ligament, grows and builds itself up in love, as each part does its work.”<br>Ephesians 4:16</p>
              </div>
            </div>
          </div>
          <p class="intro">Join us in serving the Kingdom of God by being a part of a team where you can fellowship and grow together with others who share the same passion and heart as you.</p>
      </div>
  </div>

      <!--Serving Team-->
      <div class="section section-testimonials" >
        <div class="container">
              <div class="row mx-1 mx-md-3">
                <div class="col-md-6">
                  <img src="assets/img/serve/serving.webp" alt="" class="img rounded pb-3">
                </div>
                <div class="col-md-6">
                  <h3 class="title text-dark text-start pt-0 mt-0 mb-1">Serving Team</h3>
                  <p class="text-start" style="font-weight: 500;">The Serving Team focuses on ensuring that every person who walks into the Church feels at home. The team displays hospitality and they go out of their way to help people in the Church. They are discipled to exemplify Godly character and moral integrity in their acts of service to the people. If you enjoy meeting new people and working behind the scenes, this is the place for you to help as well as grow to be Christ-like.</p>
                  <hr>
                  <h6>Contact</h6>
                          <p class="text-start mb-0" style="font-size: small;">Coordinator:</p>
                          <h5 class="text-start" style="font-weight: 700;">John Tristram</h5>
                          <a type="button" class="btn text-dark" href="tel:+919886656365" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98866 56365</a>
                </div>
              </div>
        </div>
      </div>

      <!--Worship Team-->
      <div class="section section-testimonials">
        <div class="container">
              <div class="row mx-1 mx-md-3 flex-sm-row-reverse">
                <div class="col-md-6">
                  <img src="assets/img/serve/worship.webp" alt="" class="img rounded pb-3">
                </div>
                <div class="col-md-6">
                  <h3 class="title text-dark text-start pt-0 mt-0 mb-1">Worship Team</h3>
                  <p class="text-start" style="font-weight: 500;">The Worship Team serves the Church by ensuring that there is an atmosphere that helps people experience the Glory and Presence of God. To see the full release of His Kingdom on earth as is in heaven through worship. It is led by talented and committed musicians that serve on Sundays, as well as during Worship Nights, Hours of Prayers, Conferences etc.</p>
                  <hr>
                  <h6>Contact</h6>
                          <p class="text-start mb-0" style="font-size: small;">Coordinator:</p>
                          <h5 class="text-start" style="font-weight: 700;">Wesley & Sharon</h5>
                          <a type="button" class="btn text-dark" href="tel:+917619678707" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 76196 78707</a>
                </div>
              </div>
        </div>
      </div>

      <!--Outreach Team-->
      <div class="section section-testimonials">
        <div class="container">
              <div class="row mx-1 mx-md-3">
                <div class="col-md-6">
                  <img src="assets/img/serve/lb.webp" alt="" class="img rounded pb-3">
                </div>
                <div class="col-md-6">
                  <h3 class="title text-dark text-start pt-0 mt-0 mb-1">Outreach Team</h3>
                  <p class="text-start" style="font-weight: 500;">The Light Bearers is the youth outreach Team that carries the heart of the Great Commission that was given to the disciples in the Gospels. The team focuses on outreaches to take the Gospel to the people outside the church. This is done while looking at discipling all the members in the team so each person may grow in intimacy with God and boldness to preach His Word.</p>
                  <hr>
                  <h6>Contact</h6>
                          <p class="text-start mb-0" style="font-size: small;">Coordinator:</p>
                          <h5 class="text-start" style="font-weight: 700;">John Tristram</h5>
                          <a type="button" class="btn text-dark" href="tel:+919886656365" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98866 56365</a>
                </div>
              </div>
        </div>
      </div>

      <!--Media Team-->
      <div class="section section-testimonials">
        <div class="container">
              <div class="row mx-1 mx-md-3 flex-sm-row-reverse">
                <div class="col-md-6">
                  <img src="assets/img/serve/media.webp" alt="" class="img rounded pb-3">
                </div>
                <div class="col-md-6">
                  <h3 class="title text-dark text-start pt-0 mt-0 mb-1">Media Team</h3>
                  <p class="text-start" style="font-weight: 500;">The Media Team ensures that people can experience the Presence of God in the Church and also in their homes. The cameras, lights, screens, and sounds are all operated by the team. The team also has social media coordinators, graphic designers, content writers, web designers and more. They ensure that they support the Gospel being presented on the stage, and take it online to reach others.</p>
                  <hr>
                  <h6>Contact</h6>
                          <p class="text-start mb-0" style="font-size: small;">Coordinator:</p>
                          <h5 class="text-start" style="font-weight: 700;">Shadrach Dutta</h5>
                          <a type="button" class="btn text-dark" href="tel:+919591577168" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 95915 77168</a>
                </div>
              </div>
        </div>
      </div>

      <!--Followup Team-->
      <!-- <div class="section section-testimonials">
        <div class="container">
              <div class="row mx-1 mx-md-3">
                <div class="col-md-6">
                  <img src="https://placehold.co/600x370/grey/white.webp" alt="" class="img rounded pb-3">
                </div>
                <div class="col-md-6">
                  <h3 class="title text-dark text-start pt-0 mt-0 mb-1">Follow Up Team</h3>
                  <p class="text-start" style="font-weight: 500;">The Light Bearers is the youth outreach Team carries the heart of the Great Commission that was given to the disciples in the Gospels. The team focuses on outreaches to take the Gospel to the people outside the church. This is done while looking at discipling all the members in the team so each person may grow in intimacy with God and boldness to preach His Word.</p>
                  <hr>
                  <h6>Contact</h6>
                          <p class="text-start mb-0" style="font-size: small;">Coordinator:</p>
                          <h5 class="text-start" style="font-weight: 700;">John Tristram</h5>
                          <a type="button" class="btn text-dark" href="tel:+919886656365" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98866 56365</a>
                </div>
              </div>
        </div>
      </div> -->

</div>
