<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/banners/marriage_banner.webp') ;">
      </div>
  </div>
  <div class="section" style="padding-bottom: 30px;">
      <div class="container">
          <div class="button-container mx-3" style="margin-top: -98px !important;">
            <div class="card tagcard" style="background-color: #FFE5DD;">
              <div class="card-body text-dark">
                <p class="tagline">“A happy healthy marriage leads to a happy healthy family”</p>
              </div>
            </div>
          </div>
          <p class="intro">Is your marriage drifting towards isolation or intentionally moving towards oneness?Why settle for a mediocre marriage when you can enjoy a great one?</p>
          <p class="intro">Marriage is hard work. It takes more than strong feelings. Marriage takes intentionality, effort, sacrifice and commitment to make it last.A first and Big Step is to accept that there are problems and seek ways to correct them.</p>
          <div class="ratio-16x9">
            <iframe src="https://player.vimeo.com/video/913253768?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"  style="height: 360px; width: 100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Announcements"></iframe>
          </div>
      </div>
  </div>
  <!-- Details -->
  <div class="section section-testimonials " style="background-color: #EEE;">
    <div class="container">
      <!-- <div class="mx-auto" style="max-width: 850px; display: block;"> -->
        <!-- <div class="card-body text-dark"> -->
          <div class="row mx-1 mx-md-3">
            <div class="col-md-6">
              <img src="https://placehold.co/600x370/grey/white.webp" alt="" class="img rounded pb-3">
            </div>
            <div class="col-md-6" style="align-self: center;">
              <h2 class="title text-dark text-start pt-0 mt-0">Marriage Course</h2>
              <p class="text-start" style="font-weight: 500;">A seven-weekend workshop for married couples based on ‘The Alpha Marriage Course’. It focuses on allowing couples to intentionally improve their relationship, whether they are in a married relationship for one year or 61 years or struggling in their relationships.</p>
              <p class="text-start" style="font-weight: 500;">The Alpha Marriage Course offers a lifetime of practical ideas and tools to improve and strengthen your relationship. This course consists of seven sessions which are as follows:</p>
              <a type="button" class=" btn text-dark" href="https://docs.google.com/forms/d/e/1FAIpQLScwhcLrMhAR-jaQ5nLTpu0RrIsjxzVrACgnPUmSCY8v7O9b1Q/viewform?vc=0&c=0&w=1&flr=0" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></a>
            </div>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
  <!-- Carousel Section -->
  <div class="section" id="carousel" data-background-color="black">
    <div class="container">
      <div class="row mx-3">
        <div class="col-md-4">
          <h3 class="title text-white text-start" style="padding-top: 0px; margin-top: 0px;">Topics</h3>
          <p><!-- • Foundations <br> -->
            • Strengthening Connection<br>
            • The Art of Communication<br>
            • Resolving Conflict<br>
            • The Power of Forgiveness<br>
            • The Impact of Family<br>
            • Good Sex<br>
            • Love in Action
          </p>
        </div>
        <div class="col-md-8">
          <ngb-carousel id="carousel" [interval]="2000">
            <ng-template ngbSlide>
              <img src="assets/img/marriage/marriage1.webp" alt="Second slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/marriage/marriage2.webp" alt="Third slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/marriage/marriage3.webp" alt="Fourth slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/marriage/marriage4.webp" alt="Third slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/marriage/marriage5.webp" alt="Fourth slide" style="margin-bottom: 1em;">
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
<!-- Cost Venue Contact -->
  <div class="section" style="padding-top: 0rem; background-color:#FFE5DD;">
    <div class="container mx-auto">
                  <div class="row text-dark mx-3" >
                      <div class="col-md-6">
                        <h4 class="title text-dark text-start">Online Cost</h4>
                          <div class="row">
                            <div class="col-md-6">

                              <h6 style="font-size: small;">Rs. 1,000/- per couple</h6>
                                 <h6>Time</h6>
                                 <p style="font-size: small;">
                                  Sun: 5 pm - 7 pm<br>
                                  7 Sessions
                                 </p>
                            </div>
                            <div class="col-md-6">
                              <h6>Contact</h6>
                              <p class="text-start mb-0" style="font-size:small;">Coordinator:</p>
                              <h5 class="text-start" style="font-weight: 700;">Renold George</h5>
                              <a type="button" class="btn text-dark" href="tel:+919035697380" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 90356 97380</a>
                            </div>
                            <hr class="d-md-none d-sm-block" style="margin-top: 2rem;">
                          </div>
                      </div>
                      <div class="col-md-6">
                        <h4 class="title text-dark text-start">Offline Cost</h4>
                        <div class="row">
                          <div class="col-md-6">
                            <h6 style="font-size: small;">Rs. 2,000/- per couple</h6>
                               <h6>Time</h6>
                               <p style="font-size: small;">
                                Sun: 5 pm - 7 pm<br>
                                7 Sessions
                               </p>
                          </div>
                          <div class="col-md-6" >
                            <h6>Contact</h6>
                            <p class="text-start mb-0" style="font-size:small;">Coordinator:</p>
                            <h5 class="text-start" style="font-weight: 700;">Joseph</h5>
                            <a type="button" class="btn text-dark" href="tel:+919844659369" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98446 59369</a>
                          </div>
                        </div>
                    </div>
                  </div>
    </div>
  </div>
  <!-- Testimonies -->
  <section class="section-cards mb-5">
    <div class="content-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-10 col-12 mx-auto text-start">
            <h2 class="title text-dark text-center mx-auto" style="font-weight: 700;">Testimonies</h2>
          </div>
          <div class="col-md-12 col-md-6">
            <div class="presentation-cards d-flex flex-column-reverse">
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides text-center">
                  <li class="glide__slide">
                    <div class="card card-testimonial">
                      <div class="card-body text-start">
                        <h6 class="card-category">Divya Sudhakar & Vineetha</h6>
                          <div style="padding:56.25% 0 0 0;position:relative;">
                              <iframe src="https://player.vimeo.com/video/869018708?h=3bc6887ab9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Divya Sudhakar &amp; Vineetha"></iframe>
                          </div>
                      </div>
                    </div>
                  </li>
                  <li class="glide__slide">
                    <div class="card card-testimonial">
                      <div class="card-body text-start">
                        <h6 class="card-category">Denver & Mariska</h6>
                        <div style="padding:56.25% 0 0 0;position:relative;">
                          <iframe src="https://player.vimeo.com/video/869018600?h=e5f4dc54fa&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Denver &amp; Mariska"></iframe>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="glide__slide">
                    <div class="card card-testimonial">
                      <div class="card-body text-start">
                        <h6 class="card-category">Cathan & Mable</h6>
                        <div style="padding:56.25% 0 0 0;position:relative;">
                          <iframe src="https://player.vimeo.com/video/869018505?h=9858b5213b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Cathan &amp; Mable"></iframe>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="glide__arrows" data-glide-el="controls">
                <button
                  style="border: 3px solid #000;"
                  class="glide__arrow glide__arrow--left text-default"
                  aria-label="Previous"
                  data-glide-dir="<"
                >
                  <i class="fa fa-arrow-left"> </i>
                </button>
                <button
                  style="border: 3px solid #000;"
                  class="glide__arrow glide__arrow--right text-default"
                  aria-label="Next"
                  data-glide-dir=">"
                >
                  <i class="fa fa-arrow-right"> </i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
