<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('https://placehold.co/1920x640/grey/white.webp') ;">
      </div>
  </div>
  <div class="section" style="padding-bottom: 30px;">
      <div class="container">
          <div class="button-container mx-3">
            <div class="card tagcard" style="background-color: #FFE5DD;">
              <div class="card-body text-dark">
                <p class="tagline">“Great marriages don't happen by luck or by accident. They are the result of a consistent investment of time, thoughtfulness, forgiveness, affection, prayer, mutual respect, and a rock-solid commitment between a husband and a wife.” — Dave Willis</p>
              </div>
            </div>
          </div>
          <!-- <p class="intro">With an increasing number of new marriages ending in divorce, young couples are looking for guidance as they prepare for marriage. Our pre-marital course helps young couples who are preparing for marriage increase their chances of marital success. The course is based on the book <em>Before the Wedding Bells</em> by Sam and Mary George.</p> -->
          <p class="intro">With an increasing number of new marriages ending in divorce, young couples are looking for guidance as they prepare for marriage. Our pre-marital course helps young couples who are preparing for marriage increase their chances of marital success. The course is based on the book <em>Before the Wedding Bells by Sam and Mary George</em>.</p>
          <!-- <div class="ratio-16x9">
            <iframe src="https://player.vimeo.com/video/720941437?h=6072765ca0" style="height: 360px; width: 100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Announcements"></iframe>
          </div> -->
      </div>
  </div>
  <!-- Details -->
  <div class="section section-testimonials " style="background-color: #EEE;">
    <div class="container">
      <!-- <div class="mx-auto" style="max-width: 850px; display: block;"> -->
        <!-- <div class="card-body text-dark"> -->
          <div class="row mx-1 mx-md-3">
            <div class="col-md-6">
              <img src="https://placehold.co/600x370/grey/white.webp" alt="" class="img rounded pb-3">
            </div>
            <div class="col-md-6">
              <h2 class="title text-dark text-start pt-0 mt-0">Premarital Course</h2>
              <p class="text-start" style="font-weight: 500;">People of all backgrounds and beliefs understand the importance of investing in what matters most and most would agree that staying connected in a marriage is vitally important! But for a Christian to-be-married couple, pre-marital counselling serves a distinct purpose. For you enter into a covenant with each other and with God! It helps you to understand how to have a fulfilling marriage that glorifies God.</p>
              <!-- <button type="button" class="d-flex justify-content-start btn text-dark" style="border: 2px solid #111111 !important; font-weight: 600; background-color: transparent; font-size: small;">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button> -->
              <h6 class="mt-4">Contact</h6>
                          <p class="text-start mb-0" style="font-size:small;">Coordinator:</p>
                          <h5 class="text-start" style="font-weight: 700;">Charles Benedict</h5>
                          <a type="button" class="btn text-dark" href="tel:+919845616768" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98456 16768</a>
            </div>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
  <!-- Carousel Section -->
  <div class="section" id="carousel" data-background-color="black">
    <div class="container">
      <div class="row mx-3">
        <div class="col-md-4">
          <h3 class="title text-white text-start" style="padding-top: 0px; margin-top: 0px;">Topics</h3>
          <!-- <p>
            • Understanding what marriage is really about<br>
            • Understanding yourself, your mate and your future together<br>
            • Developing relationship skills<br>
            • Communication<br>
            • Money<br>
          </p> -->
          <ul style="padding-left: 1rem;">
            <li>Understanding what marriage is really about</li>
            <li>Understanding yourself, your mate and your future together</li>
            <li>Developing relationship skills</li>
            <li>Communication</li>
            <li>Money</li>
          </ul>
            <!-- <ul style="padding-left: 1rem;">
              <li>What are your expectations from each other?</li>
              <li>How do you build a strong and healthy relationship?</li>
              <li>What issues might affect your marriage?</li>
              <li>How do you communicate more effectively?</li>
              <li>God's plan for sexual intimacy</li>
              <li>Marriage and Money: What does God expect?</li>
            </ul> -->

        </div>
        <div class="col-md-8">
          <ngb-carousel id="carousel" [interval]="2000">
            <ng-template ngbSlide>
              <img src="assets/img/ewg/ewg_2.webp" alt="Second slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/ewg/ewg_3.webp" alt="Third slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/ewg/ewg_4.webp" alt="Fourth slide" style="margin-bottom: 1em;">
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
<!-- Cost Venue Contact -->
  <!-- <div class="section" style="padding-top: 0rem; background-color:#FFE5DD;">
    <div class="container mx-auto">
                  <div class="row text-dark mx-3" >
                      <div class="col-md-6">
                        <h4 class="title text-dark text-start">Online Cost</h4>
                          <div class="row">
                            <div class="col-md-6">

                              <h6 style="font-size: small;">Rs. 1,000/- per couple</h6>
                                 <h6>Time</h6>
                                 <p style="font-size: small;">
                                  Sat: 9 am - 5:30 pm<br>
                                  Sun: 8:30 am - 4 pm
                                 </p>
                            </div>
                            <div class="col-md-6">
                              <h6>Contact</h6>
                              <p class="author" style="margin-bottom: 0rem;">Renold George</p>
                              <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: small; color: #000000; font-weight: 600;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98123 56789</button>
                            </div>
                            <hr class="d-md-none d-sm-block" style="margin-top: 2rem;">
                          </div>
                      </div>
                      <div class="col-md-6">
                        <h4 class="title text-dark text-start">Offline Cost</h4>
                        <div class="row">
                          <div class="col-md-6">
                            <h6 style="font-size: small;">Rs. 2,000/- per couple</h6>
                               <h6>Time</h6>
                               <p style="font-size: small;">
                                Sat: 9 am - 5:30 pm<br>
                                Sun: 8:30 am - 4 pm
                               </p>
                          </div>
                          <div class="col-md-6" >
                            <h6>Contact</h6>
                            <p class="author" style="margin-bottom: 0rem;">Joseph</p>
                            <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: small; color: #000000; font-weight: 600;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98123 56789</button>
                          </div>
                        </div>
                    </div>
                  </div>
    </div>
  </div> -->

</div>
