<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/banners/story_banner.webp') ;">
      </div>
  </div>
  <div class="section" style="padding-bottom: 30px;">
      <div class="container">
          <div class="button-container mx-3">
            <div class="card tagcard shadow-none" style="background-color:transparent;">
              <div class="card-body text-dark">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/913254477?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Parenting Course"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                <!-- <p class="tagline">“They devoted themselves to the apostles' teaching and to fellowship, to the breaking of breadand to prayer.”<br>Acts 2:42</p> -->
              </div>
            </div>
          </div>
          <h2 class="text-center" style="font-weight: 500;">The Journey Continues</h2>
          <hr class="mx-auto px-2" style="color: teal; border-width: thick; max-width: 400px;">
          <!-- <p class="intro">We are called to come together as individuals to add to the growth, edification and building up of the Body of Christ.</p> -->
      </div>
  </div>
  <!-- Details -->
  <div class="section section-testimonials " style="background-color: #EAD8F5;">
    <div class="container">
          <div class="row mx-1 mx-md-3">
            <div class="col-md-6">
              <img src="assets/img/story/victor_annie.webp" alt="" class="img rounded pb-3">
            </div>
            <div class="col-md-6">
              <p class="text-start" style="font-weight: 500;">This journey started when I realized that God had a specific plan for my life. The promise that God gave me at that time was</p>
              <h6>1 CORINTHIANS 2:9-10</h6>
              <p><em>“No eye has seen, no ear has heard, no mind has conceived what God has prepared for those who love him” but God has revealed it to us by His Spirit. The Spirit searches all things, even the profound things of God."</em></p>
              <p>This promise spurred me on to seek God with fasting and prayer for His specific plan for my life. It was in 1982 that God gave me a vision calling me to ministry. Two years later, a visiting faculty from my college in Singapore prophesied over me saying that God has called you to be a Pastor and that He has set before you an open door, and no one can shut it.’ (Revelation 3:8) this word confirmed the vision God had given me.</p>
              <p>The fulfilment of this promise gave birth to Adonai Ministries in 1986. What we see today has surpassed the imagination of many people, including my own. Looking back, I am awestruck by the goodness of God and how wonderfully He has brought the promise to fulfilment. Truly, no mind has ever conceived what God has in store for those who love Him.</p>
              <p>Even though my life and ministry took several unexpected twists and turns, God was faithful. All things do work for good to those who love Him, to those who are called according to His purpose (Romans 8;23). I remain indebted to both God and the people of Adonai for journeying with us through all the tough times and staying faithful to this day.</p>
              <h5 class="text-start mb-0" style="font-weight: 700;">VICTOR D'MONTE</h5>
              <h6 class="mt-0">Founder of Adonai Ministries</h6>
            </div>
          </div>
    </div>
  </div>

</div>
