<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/banners/staff_banner.webp') ;">
      </div>
      <div class="content-center">
        <h1 class="title">STAFF</h1>
    </div>
  </div>
  <div class="section" style="padding-bottom: 30px;">
      <div class="container">
          <!-- <div class="button-container mx-3">
            <div class="card tagcard" style="background-color: #FFE5DD;">
              <div class="card-body text-dark">
                <p class="tagline">“Lorem ipsum dolor sit amet, consectetur adipiscing elit”</p>
              </div>
            </div>
          </div> -->
          <!-- <p class="intro">The Parenting Course is a series of six sessions designed by “The Alpha Course” to help parents of 0 to 10 year olds to equip their children emphasizing the role of the family.</p> -->
          <div class="row col-md-6 col-sm-12 mx-auto mb-5">
            <div class="card card-blog card-plain mx-sm-2" style="margin-bottom: 0rem;">
              <div class="card-image">
                <img class="img rounded img-raised mx-auto d-block" src="https://placehold.co/680x408/grey/white">
              </div>
              <div class="card-body">
                <h4 class="card-title" style="font-weight: 400;">Victor & Annie D'Monte</h4>
                <p style="font-size: small;">FOUNDERS</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mb-5 mx-auto mx-1 mx-md-3">
            <h2 class="text-center">Elders</h2>
            <hr style="margin-bottom: 3rem;">
            <div class="col-md-4 col-sm-12 mx-4">
              <div class="card card-blog card-plain">
                <div class="card-image">
                  <img class="img rounded mx-auto img-raised d-block" src="https://placehold.co/300x300/grey/white">
                </div>
                <div class="card-body mx-auto" style="max-width: 300px;">
                  <h4 class="card-title text-start" style="font-weight: 400;">Rev. Victor D'Monte</h4>
                  <p class="text-start" style="font-size: small;">SENIOR PASTOR</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card card-blog card-plain">
                <div class="card-image">
                  <img class="img rounded mx-auto img-raised d-block" src="https://placehold.co/300x300/grey/white">
                </div>
                <div class="card-body mx-auto" style="max-width: 300px;">
                  <h4 class="card-title" style="font-weight: 400;">Ps. Charles Benedict</h4>
                  <p style="font-size: small;">FAMILY & MISSIONS</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                <div class="card-image">
                  <img class="img rounded mx-auto img-raised d-block" src="https://placehold.co/300x300/grey/white">
                </div>
                <div class="card-body mx-auto" style="max-width: 300px;">
                  <h4 class="card-title" style="font-weight: 400;">Ps. John Tristram</h4>
                  <p style="font-size: small;">OUTREACH & MISSIONS</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                <div class="card-image">
                  <img class="img rounded mx-auto img-raised d-block" src="https://placehold.co/300x300/grey/white">
                </div>
                <div class="card-body mx-auto" style="max-width: 300px;">
                  <h4 class="card-title" style="font-weight: 400;">Ps. Wilwin Kumar</h4>
                  <p style="font-size: small;">PASTOR</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                <div class="card-image">
                  <img class="img rounded mx-auto img-raised d-block" src="https://placehold.co/300x300/grey/white">
                </div>
                <div class="card-body mx-auto" style="max-width: 300px;">
                  <h4 class="card-title" style="font-weight: 400;">Ps. Pankaj Bhagwane</h4>
                  <p style="font-size: small;">PASTOR</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center  mx-1 mx-md-3">
            <h2 class="text-center">Staff</h2>
            <hr style="margin-bottom: 3rem;">
            <div class="col-md-3 col-sm-12">
              <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                <div class="card-image">
                  <img class="img rounded mx-auto img-raised d-block" src="https://placehold.co/200x200/grey/white">
                </div>
                <div class="card-body mx-auto" style="max-width: 200px;">
                  <h4 class="card-title" style="font-weight: 400;">Shadrach Dutta</h4>
                  <p style="font-size: small;">MEDIA CO-ORDINATOR</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                <div class="card-image">
                  <img class="img rounded mx-auto img-raised d-block" src="https://placehold.co/200x200/grey/white">
                </div>
                <div class="card-body mx-auto" style="max-width: 200px;">
                  <h4 class="card-title" style="font-weight: 400;">John Victor</h4>
                  <p style="font-size: small;">WORSHIP DIRECTOR</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                <div class="card-image">
                  <img class="img rounded mx-auto img-raised d-block" src="https://placehold.co/200x200/grey/white">
                </div>
                <div class="card-body mx-auto" style="max-width: 200px;">
                  <h4 class="card-title" style="font-weight: 400;">Sunil Kumar</h4>
                  <p style="font-size: small;">ACCOUNTS</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                <div class="card-image">
                  <img class="img rounded mx-auto img-raised d-block" src="https://placehold.co/200x200/grey/white">
                </div>
                <div class="card-body mx-auto" style="max-width: 200px;">
                  <h4 class="card-title" style="font-weight: 400;">Michael Fernandez</h4>
                  <p style="font-size: small;">ADMINISTRATION</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                <div class="card-image">
                  <img class="img rounded mx-auto img-raised d-block" src="https://placehold.co/200x200/grey/white">
                </div>
                <div class="card-body mx-auto" style="max-width: 200px;">
                  <h4 class="card-title" style="font-weight: 400;">Alyster De Rosario</h4>
                  <p style="font-size: small;">HOUSEKEEPING</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                <div class="card-image">
                  <img class="img rounded mx-auto img-raised d-block" src="https://placehold.co/200x200/grey/white">
                </div>
                <div class="card-body mx-auto" style="max-width: 200px;">
                  <h4 class="card-title" style="font-weight: 400;">Ebenezer Paul</h4>
                  <p style="font-size: small;">MEDIA</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                <div class="card-image">
                  <img class="img rounded mx-auto img-raised d-block" src="https://placehold.co/200x200/grey/white">
                </div>
                <div class="card-body mx-auto" style="max-width: 200px;">
                  <h4 class="card-title" style="font-weight: 400;">Desmond Dinakaran</h4>
                  <p style="font-size: small;">MEDIA</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                <div class="card-image">
                  <img class="img rounded mx-auto img-raised d-block" src="https://placehold.co/200x200/grey/white">
                </div>
                <div class="card-body mx-auto" style="max-width: 200px;">
                  <h4 class="card-title" style="font-weight: 400;">Shekinah Rupa</h4>
                  <p style="font-size: small;">MEDIA</p>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
