<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/kkids/kkids_banner.webp') ;">
      </div>
  </div>
  <div class="section" style="padding-bottom: 0em;">
      <div class="container">
          <div class="button-container">
            <div class="card" style="max-width: 650px; background-color: #E5EDFF;">
              <div class="card-body text-dark">
                <p style="margin-bottom: auto;">"Don't let anyone look down on you because you are young, but set an example for the believers in speech, in conduct, in love, in faith and in purity." 1 Timothy 4:12</p>
              </div>
            </div>
          </div>
          <h6 class="text-center">EMPOWERING THIS GENERATION TO WIN THE NEXT</h6>
          <p class="text-start mx-3" style="margin-top: 1rem; font-size: small; font-weight: 500;">The Teens Ministry caters to the young people in Church (aged 13 to 19). They have regular meetings every week where they learn and grow in the Word as well as understand & express themselves to God and other people.</p>
          <h6 class="text-center">PARENTAL INVOLVEMENT</h6>
          <p class="text-start mx-3" style="margin-top: 1rem; font-size: small; font-weight: 500;">Parents & caregivers are invited to be a part of their teen's journey with Christ. Beginning from Changes, and through the interactive and fun activities, parents are consistently involved to assist them in grooming their teen spiritually & otherwise.</p>
          <h6 class="text-center">DISCIPLESHIP</h6>
          <p class="text-start mx-3" style="margin-top: 1rem; font-size: small; font-weight: 500;">A personal “cushion” is always around for the teens & pre-teens to fall back on. They are provided with a safe environment to explore, experiment, discuss, and develop their God-given gifts with personal disciplers alongside them. The teens are also encouraged to carry down what they have learnt to younger teens.</p>
      </div>
  </div>
  <!-- Images -->
  <div class="section section-basic-components" style="padding-top: 0em;">
    <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="image-container col-md-6" style="height: 350px;">
            <!-- <img class="components-macbook" src="assets/img/ipad.png" alt=""> -->
            <img class="table-img" src="assets/img/teens/teens.webp" alt="" style="top: 15%; border-radius: 10px; position:absolute ; height: 230px;">
            <!-- <img class="share-btn-img" src="assets/img/teens/teens.webp" alt=""> -->
            <!-- <img class="coloured-card-btn-img" src="assets/img/teens/teens.webp" alt=""> -->
            <img class="coloured-card-img" src="assets/img/teens/teens.webp" alt="" style="left:20%; top: 45%; border-radius: 10px; position: absolute; height: 180px;">
            <!-- <img class="social-img" src="assets/img/teens/teens.webp" alt=""> -->
            <img class="linkedin-btn-img" src="assets/img/teens/teens.webp" alt="" style="left: 45%; top: 25%; border-radius: 10px; position: absolute; height: 206px;">
          </div>
          <div class="col-md-3"></div>
        </div>
    </div>
  </div>
  <!-- Details -->
  <div class="section section-testimonials " style="background-color: #EEE;">
    <div class="mx-3">
      <div class="card mx-auto" style="max-width: 700px; background-color: #FFF3DC; display: block;">
        <div class="card-body text-dark">
          <div class="row">
            <div class="col-md-6">
              <h3 class="card-title text-dark text-start" style="font-weight: 600; margin-top: 0em;">Little Wonders</h3>
              <h6 class="text-start">Below 3 yrs</h6>
              <p class="text-start" style="font-size: small; font-weight: 500;"> Classes are held after worship during both the first and second services.</p>
              <h6 class="text-start">9:15 AM for the first service.<br>11:45 AM for the second service.</h6>
              <hr class="d-md-none d-sm-block">
            </div>
            <div class="col-md-6">
              <h6 class="text-start">Contact</h6>
              <p class="text-start" style="font-size: x-small;">Coordinator:</p>
              <p class="text-start" class="author" style="margin-bottom: 0rem;">Sangeetha Raj</p>
              <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: small; color: #000000; font-weight: 600;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98123 56789</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
