<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/teens/teens_banner.webp') ;">
      </div>
      <div class="content-center">
        <h1 class="title">Teens</h1>
      </div>
  </div>
  <div class="section" style="padding-bottom: 30px;">
      <div class="container">
          <div class="button-container mx-3">
            <div class="card tagcard" style="background-color: #E5EDFF;">
              <div class="card-body text-dark">
                <p class="tagline">"Don't let anyone look down on you because you are young, but set an example for the believers in speech, in conduct, in love, in faith and in purity." 1 Timothy 4:12</p>
              </div>
            </div>
          </div>
          <h5 class="text-center">EMPOWERING THIS GENERATION TO WIN THE NEXT</h5>
          <p class="intro">The Teens Ministry caters to the young people in Church (aged 13 to 19). They have regular meetings every week where they learn and grow in the Word as well as understand & express themselves to God and other people.</p>
          <h5 class="text-center">PARENTAL INVOLVEMENT</h5>
          <p class="intro">Parents & caregivers are invited to be a part of their teen's journey with Christ. Beginning from Changes, and through the interactive and fun activities, parents are consistently involved to assist them in grooming their teen spiritually & otherwise.</p>
          <h5 class="text-center">DISCIPLESHIP</h5>
          <p class="intro">A personal “cushion” is always around for the teens & pre-teens to fall back on. They are provided with a safe environment to explore, experiment, discuss, and develop their God-given gifts with personal disciplers alongside them. The teens are also encouraged to carry down what they have learnt to younger teens.</p>
      </div>
  </div>
  <!--Details-->
  <div class="section section-testimonials " style="background-color: #FFF3DC;">
    <div class="container">
          <div class="row mx-1 mx-md-3">
            <div class="col-md-6">
              <img src="https://placehold.co/600x370/grey/white.webp" alt="" class="img rounded pb-3">
            </div>
            <div class="col-md-6" style="align-self: center;">
              <h3 class="title text-dark text-start pt-0 mt-0 mb-1">Teens</h3>
              <h6>Between 15 - 19 yrs</h6>
              <p class="text-start">They meet every alternate Saturday.</p>
              <h6>7:00pm to 8:00pm through online zoom meetings.</h6>
              <hr>
              <h6>Contact</h6>
                      <p class="text-start mb-0" style="font-size:small;">Coordinator:</p>
                      <h5 class="text-start" style="font-weight: 700;">Rakesh Issac</h5>
              <a type="button" class="btn text-dark" href="tel:+919008638030" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 90086 38030</a>
            </div>
          </div>
    </div>
  </div>

</div>
