<div class="wrapper">
  <div class="page-header clear-filter page-header-small">
    <div class="rellax-header" data-rellax-speed="-8">
        <div class="page-header-image page-header-image" style="background-image: url('assets/img/banners/sermons_banner.webp');">
        </div>
    </div>
    <div class="content-center">
      <h1 class="title">Sermons</h1>
    </div>
  </div>
  <!-- <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/banners/sermons_banner.webp') ;">
    </div>
    <div class="content-center">
        <h1 class="title">Sermons</h1>
    </div>
  </div> -->
  <div class="container">
    <div *ngIf="createData.length == 0;" class="row text-dark mt-4 text-center" >

      <h4 class="text-dark d-inline-block"><i class="fa fa-cog fa-spin fa-2x fa-fw"></i>Loading...</h4>
    </div>
    <div *ngIf="createData.length != 0;" class="row mx-1 mx-md-3">
      <div class="col-md-6 col-sm-12">
        <form class="form-inline ng-untouched ng-pristine ng-valid justify-content-left mt-5" role="search" style="align-items: baseline;">
          <div class="form-group has-info d-inline-block" style="width: 86%!important;">
            <input class="form-control border-input" id="query" placeholder="Search for a sermon" type="text" style="margin-right:1em; width: -webkit-fill-available;"></div>
          <button class="btn btn-icon btn-round" type="submit" (click)="title()"><i class="fa fa-search fa-lg"></i></button>
        </form>
      </div>
      <div class="col-md-6 col-sm-12 mt-4 text-end">
        <div ngbDropdown class="d-inline-block my-3 dropdown">
          <a type="button"  id="speakers" ngbDropdownToggle class="d-flex justify-content-start btn text-dark" style="border: 2px solid #111111 !important; font-weight: 600; background-color: white; font-size: small;">Select Preacher<i class="fa fa-arrow-down fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></a>
          <!-- <a class="btn btn-info text-white" id="speakers" ngbDropdownToggle>Select Preacher</a> -->
          <div ngbDropdownMenu aria-labelledby="speakers" class="dropdown-primary">
            <a class="dropdown-header">Choose a preacher to see their sermons</a>
            <button class="dropdown-item" (click)="speakers('911209319342881047389949516354')">Victor D'Monte</button>
            <button class="dropdown-item" (click)="speakers('350747832693794070871209724122')">Annie D'Monte</button>
            <button class="dropdown-item" (click)="speakers('888969787212702250918349325006')">Philips Dayanidhi</button>
            <button class="dropdown-item" (click)="speakers('649832929073643619064472114264')">Charles Benedict</button>
            <button class="dropdown-item" (click)="speakers('837119178737716534629032621881')">John Tristram</button>
            <button class="dropdown-item" (click)="speakers('384348974901791344781842040604')">Arun Thomas</button>
            <button class="dropdown-item" (click)="speakers('871582131114449230017073125748')">Ivan Raskino</button>
            <button class="dropdown-item" (click)="speakers('530098596968520503432586781658')">Stanley Mehta</button>
          </div>
        </div>
        <div class="d-inline-block">
          <button type="button"  id="speakers" (click)="sermons()" class="d-flex justify-content-start btn text-dark ms-3" style="border: 2px solid #111111 !important; font-weight: 600; background-color: white; font-size: small;">All Sermons</button>
          <!-- <button class="btn btn-info" id="sermons" (click)="sermons()">All Sermons</button> -->
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- <div class="container d-inline-block text-info" style="margin-top: 1rem;"> -->
      <h6 class="container mx-1 mx-md-3" *ngIf="createData.length != 0;">Page {{ createData.page }} of {{ page }}</h6>
    <!-- </div> -->

<!-- <span id = "preacher"></span> -->
<div class="row mx-1 mx-md-3">
  <div class="col-md-4 col-sm-12 space-top" *ngFor="let item of createData.data | keyvalue">
    <div id="prayer">
      <div class="card card-plain card-blog">
          <!-- <h6 class="card-title text-default text-left" style="font-size: medium;">{{ item.value['name'] }}</h6> -->
            <div *ngFor="let prop of item.value['pictures'] | keyvalue">
              <div *ngIf="prop.key == 'sizes';">
                <div *ngFor="let pic of prop.value | keyvalue">
                  <div *ngIf="pic.key == '4';">
                    <!-- <div class="container">
                    <div class="row"> -->
                        <!-- <div class="col-md-6"> -->
                            <div class="card-image" style="padding-top: 1rem;">
                              <div *ngFor="let prop of item.value['embed'] | keyvalue">
                                <div *ngIf="prop.key == 'html';">
                                  <div class="ratio ratio-16x9" [innerHtml]="embed(prop.value) | safeHtml"></div>
                                </div>
                              </div>
                            </div>
                        <!-- </div> -->
                            <!-- <div class="col-md-6"> -->
                              <h6 class="card-title text-default text-left" style="font-size: medium;">{{ item.value['name'] }}</h6>
                                <div class="card-body text-start" >
                                  <div  *ngFor="let tag of item.value['tags'] | keyvalue">
                                    <div *ngIf="(tag.value['name'] !== '911209319342881047389949516354' && tag.value['name'] !== '888969787212702250918349325006' && tag.value['name'] !== '350747832693794070871209724122' && tag.value['name'] !== '649832929073643619064472114264' && tag.value['name'] !== '384348974901791344781842040604' && tag.value['name'] !== '871582131114449230017073125748' && tag.value['name'] !== '530098596968520503432586781658' && tag.value['name'] !== '837119178737716534629032621881')">
                                      <p class="mb-0" style="font-size: small; font-weight: 400;">{{ tag.value['name'] }}</p>
                                  </div>
                                </div>
                                <p class="mt-3">{{ item.value['description'] }}</p>
                            </div>
                        <!-- </div> -->
                    <!-- </div>
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
    <!-- <div class="dropdown-divider"></div> -->
  </div>
</div>

<div *ngIf="createData.length != 0;" class="col-12 justify-content-center">

 <ngb-pagination class="text-center" (pageChange)="loadPage($event)" [collectionSize]="createData.total" [(page)]="createData.page" [pageSize]="createData.per_page" [maxSize]="3" [rotate]="true" [boundaryLinks]="true" aria-label="sermon pagination"></ngb-pagination>
  <!-- <span> {{ createData.total }} | {{ createData.page }} | {{ createData.per_page }} | [(page)]</span> -->
<!--<ngb-pagination [collectionSize]="createData.total" [(page)]="createData.page" [boundaryLinks]="true">
    <ng-template ngbPaginationPages let-page let-pages="pages">
      <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
        <div class="mb-3 d-flex flex-nowrap px-2">
          <label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1">Page</label>
          <input
            #i
            type="text"
            inputmode="numeric"
            pattern="[0-9]*"
            class="form-control custom-pages-input"
            id="paginationInput"
            [value]="page"
            (keyup.enter)="selectPage(i.value)"
            (blur)="selectPage(i.value)"
            (input)="formatInput($any($event).target)"
            aria-labelledby="paginationInputLabel paginationDescription"
            style="width: 2.5rem"
          />
          <span id="paginationDescription" class="col-form-label text-nowrap px-2"> of {{pages.length}}</span>
        </div>
      </li>
    </ng-template>
  </ngb-pagination> -->

  </div>
  </div>
</div>
