<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/wfc1/wfc1_banner.webp') ;">
      </div>
  </div>
  <div class="section" style="padding-bottom: 30px;">
    <div class="container">
        <div class="button-container mx-3">
          <div class="card tagcard" style="background-color: #E5EDFF;">
            <div class="card-body text-dark">
              <p class="tagline">Restoring Lives and Equipping People</p>
            </div>
          </div>
        </div>
        <p class="intro">All of us undergo disappointment, hurt, and trauma; and if not dealt with, can often be held captive to them for life. Having been set free from the spirit of rejection and experienced freedom, Rev. Victor D’Monte set forth on a journey to discover the ministry of deliverance.</p>
        <p class="intro">The Wholeness and Freedom Conference birthed in 2009, was founded on the Ministry of Jesus and seeks: “…to preach good tidings, to heal the broken-hearted, to proclaim liberty to the captives, and open the prison to those who are bound, to comfort all who mourn; to give them beauty for ashes, the oil of joy for mourning, the garment of praise for the spirit of heaviness…”</p>
        <p class="intro">Through the teaching of the Word, key principles of inner healing, deliverance, and discipleship are imparted to the delegates. The teachings are based on extensive biblical research, training, and ministry experience.</p>
        <p class="intro">Each delegate is given the opportunity to receive a one-to-one personal ministry by a well-trained Ministry Team member. We ensure that the highest value of confidentiality is maintained with those who minister to the delegates.</p>
        <p class="intro">This 7-day programme aids in bringing healing & wholeness to lives that have been damaged by disorders & diseases in spirit, soul, and body. Through teaching of the Word, key principles of inner healing, deliverance, and discipleship are imparted to the delegates. The teachings are based on extensive biblical research, training, and ministry experience. The aim of this conference is to bring people an awareness of areas of captivity in their lives and establish a lifestyle of freedom.</p>
        <p class="intro">Attending all sessions is necessary to avail personal ministry.</p>
    </div>
  </div>
  <!-- <div class="section">
      <div class="container">
          <div class="button-container">
            <div class="card" style="max-width: 650px; background-color: #E5EDFF;">
              <div class="card-body text-dark">
                <p style="margin-bottom: auto;">Restoring Lives and Equipping People</p>
              </div>
            </div>
          </div>
          <p class="text-start mx-3" style="margin-top: 1rem; font-size: small; font-weight: 600;">All of us undergo disappointment, hurt, and trauma; and if not dealt with, can often be held captive to them for life. Having been set free from the spirit of rejection and experienced freedom, Rev. Victor D’Monte set forth on a journey to discover the ministry of deliverance.</p>
          <p class="text-start mx-3" style="margin-top: 1rem; font-size: small; font-weight: 600;">The Wholeness and Freedom Conference birthed in 2009, was founded on the Ministry of Jesus and seeks: “…to preach good tidings, to heal the broken-hearted, to proclaim liberty to the captives, and open the prison to those who are bound, to comfort all who mourn; to give them beauty for ashes, the oil of joy for mourning, the garment of praise for the spirit of heaviness…”</p>
          <p class="text-start mx-3" style="margin-top: 1rem; font-size: small; font-weight: 600;">Through the teaching of the Word, key principles of inner healing, deliverance, and discipleship are imparted to the delegates. The teachings are based on extensive biblical research, training, and ministry experience.</p>
          <p class="text-start mx-3" style="margin-top: 1rem; font-size: small; font-weight: 600;">Each delegate is given the opportunity to receive a one-to-one personal ministry by a well-trained Ministry Team member. We ensure that the highest value of confidentiality is maintained with those who minister to the delegates.</p>
          <p class="text-start mx-3" style="margin-top: 1rem; font-size: small; font-weight: 600;">This 7-day programme aids in bringing healing & wholeness to lives that have been damaged by disorders & diseases in spirit, soul, and body. Through teaching of the Word, key principles of inner healing, deliverance, and discipleship are imparted to the delegates. The teachings are based on extensive biblical research, training, and ministry experience. The aim of this conference is to bring people an awareness of areas of captivity in their lives and establish a lifestyle of freedom.</p>
          <p class="text-start mx-3" style="margin-top: 1rem; font-size: small; font-weight: 600;">Attending all sessions is necessary to avail personal ministry.</p>
      </div>
  </div> -->
  <div class="container">
    <div class="row mx-3">
      <div class="card text-center mx-auto" style="max-width: 650px; background-color: #000;">
        <div class="card-body text-white">
          <h6 style="margin-bottom: auto;">*PERSONAL MINISTRY AND CONFIDENTIALITY</h6>
          <p style="margin-top: 1rem; ">The delegates have the opportunity to receive personal ministry towards the end of the programme. We ensure that the highest value of confidentiality is maintained with those who are ministering to the delegates.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container">
    <div class="row mx-2">
      <div class="card text-center mx-auto" style="max-width: 650px; background-color: #000;">
        <div class="card-body text-white">
          <h6 style="margin-bottom: auto;">*PERSONAL MINISTRY AND CONFIDENTIALITY</h6>
          <p style="margin-top: 1rem; font-size: small;">Each delegate is given the opportunity to receive a one-to-one personal ministry by a well-trained Ministry Team member. We ensure that the highest value of confidentiality is maintained with those who minister to the delegates.</p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Upcoming Dates -->
  <div class="subscribe-line mx-3" data-background-color="white">
    <div class="container">
          <h3 class="title text-dark text-md-start" style="margin-bottom: 2rem;">Upcoming Dates</h3>
            <div class="text-dark text-center mx-auto">
              <div class="row ">
                  <div class="col-md-8 col-sm-12">
                            <div class="row mx-auto">
                              <div class="col-4 col-md-4">
                                <h2 class="text-dark" style="text-align: start; font-weight: 700; ">07-13</h2>
                              </div>
                              <div class="col-3 col-md-3">
                                <h6 class="text-dark" style="text-align: start; font-weight: 700;">Apr</h6>
                              </div>
                              <div class="col-5 col-md-5">
                                <h5 class="text-dark" style="text-align: start; font-weight: 700; ">BANGALORE / ENG</h5>
                              </div>
                            </div>
                  </div>
                  <div class="col-md-4 col-sm-12 text-end">
                            <button type="button" class="btn text-dark" style="border: 2px solid #111111 !important; font-weight: 600; background-color: white; font-size: small;">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                  </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-8 col-sm-12">
                          <div class="row mx-auto">
                            <div class="col-4 col-md-4">
                              <h2 class="text-dark" style="text-align: start; font-weight: 700; ">12-18</h2>
                            </div>
                            <div class="col-3 col-md-3">
                              <h6 class="text-dark" style="text-align: start; font-weight: 700; ">May</h6>
                            </div>
                            <div class="col-5 col-md-5">
                              <h5 class="text-dark" style="text-align: start; font-weight: 700; ">BANGALORE / ENG</h5>
                            </div>
                          </div>
                </div>
                <div class="col-md-4 col-sm-12 text-end">
                          <button type="button" class="btn text-dark" style="border: 2px solid #111111 !important; font-weight: 600; background-color: white; font-size: small;">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-8 col-sm-12">
                          <div class="row mx-auto">
                            <div class="col-4 col-md-4">
                              <h2 class="text-dark" style="text-align: start; font-weight: 700; ">02-08</h2>
                            </div>
                            <div class="col-3 col-md-3">
                              <h6 class="text-dark" style="text-align: start; font-weight: 700; ">Jun</h6>
                            </div>
                            <div class="col-5 col-md-5">
                              <h5 class="text-dark" style="text-align: start; font-weight: 700; ">DEHRADUN / HINDI - ENG</h5>
                            </div>
                          </div>
                </div>
                <div class="col-md-4 col-sm-12 text-end">
                          <button type="button" class="btn text-dark" style="border: 2px solid #111111 !important; font-weight: 600; background-color: white; font-size: small;">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-8 col-sm-12">
                          <div class="row mx-auto">
                            <div class="col-4 col-md-4">
                              <h2 class="text-dark" style="text-align: start; font-weight: 700; ">15-22</h2>
                            </div>
                            <div class="col-3 col-md-3">
                              <h6 class="text-dark" style="text-align: start; font-weight: 700; ">Jun</h6>
                            </div>
                            <div class="col-5 col-md-5">
                              <h5 class="text-dark" style="text-align: start; font-weight: 700; ">DUBAI / ENG</h5>
                            </div>
                          </div>
                </div>
                <div class="col-md-4 col-sm-12 text-end">
                          <button type="button" class="btn text-dark" style="border: 2px solid #111111 !important; font-weight: 600; background-color: white; font-size: small;">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-8 col-sm-12">
                          <div class="row mx-auto">
                            <div class="col-4 col-md-4">
                              <h2 class="text-dark" style="text-align: start; font-weight: 700; ">11-17</h2>
                            </div>
                            <div class="col-3 col-md-3">
                              <h6 class="text-dark" style="text-align: start; font-weight: 700; ">AUG</h6>
                            </div>
                            <div class="col-5 col-md-5">
                              <h5 class="text-dark" style="text-align: start; font-weight: 700; ">BANGALORE / TAMIL - ENG</h5>
                            </div>
                          </div>
                </div>
                <div class="col-md-4 col-sm-12 text-end">
                          <button type="button" class="btn text-dark" style="border: 2px solid #111111 !important; font-weight: 600; background-color: white; font-size: small;">Register Now<i class="fa fa-arrow-right fa-lg" style="margin-left: 0.5rem; margin-top: 3px;"></i></button>
                </div>
              </div>
              <hr/>
          </div>
      </div>
  </div>
  <!-- Carousel Section -->
  <div class="section" id="carousel" data-background-color="black">
    <div class="container">
      <div class="row mx-3">
        <div class="col-md-4">
          <h3 class="title text-white text-start" style="padding-top: 0px; margin-top: 0px;">Topics</h3>
          <p>• Foundational Truths <br>
            • Principles Of Acceptance<br>
            • Dealing With Rejection<br>
            • Principles Of Forgiveness<br>
            • Relationships And Soul-Ties<br>
            • Overcoming Fear<br>
            • The Spiritual Realms<br>
            • Blessings And Curses<br>
            • How Demons Gain Access<br>
            • Generational Iniquity<br>
            • Belief Systems<br>
            • Dealing With Emotional Pain<br>
            • Restoring The Human Spirit<br>
          </p>
        </div>
        <div class="col-md-8">
          <ngb-carousel id="carousel" [interval]="2000">
            <ng-template ngbSlide>
              <img src="assets/img/wfc1/wfc_1.webp" alt="Second slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/wfc1/wfc_1.webp" alt="Third slide" style="margin-bottom: 1em;">
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/wfc1/wfc_1.webp" alt="Fourth slide" style="margin-bottom: 1em;">
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
<!-- Bangalore Cost Venue Contact -->
  <div class="section" style="padding-top: 0rem; background-color:#FFE5DD;">
    <div class="container space-top">
                  <div class="row text-dark" >
                    <h3 style="margin-top: 2em; font-weight: 600; margin-bottom: 0em;">Bangalore</h3>
                      <div class="col-sm-3">
                          <div class="text-start">
                              <h4 class="title text-dark text-start">Cost</h4>
                              <h6 style="font-size: small;">Rs. 5,000/- Non-Residential</h6>
                              <h6 style="font-size: small;">Rs. 8,000/- Residential</h6>
                              <h6 style="font-size: small; margin-top: 2em;">Rs. 1,000/- Pre-Registration</h6>
                                 <h6>For Children</h6>
                                 <p style="font-size: small;">
                                  12 Yrs. & Above - Full Cost<br>
                                  11 Yrs. to 6 Yrs. - 70% Cost<br>
                                  5 Yrs. & Below - Free
                                 </p>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div >
                              <h4 class="title text-dark text-start">Venue</h4>
                              <p style="font-size: small;">Adonai Church
                                  <br>No 1-8, 3rd Main Rd,
                                  <br>Hoysala Nagar,
                                  <br>Bangalore 560016.
                                  </p>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div>
                              <h4 class="title text-dark text-start">Time</h4>
                              <h6>Mon - Fri &nbsp;&nbsp;&nbsp;&nbsp;9 am - 5:30 pm<br>
                              </h6>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div >
                              <h4 class="title text-dark text-start">Contact</h4>
                              <a type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+918048470000"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 80484 70000</a>
                                <h6 style="font-size: small;">Office timings:</h6>
                                <p style="font-size: small;">9:00 am to 4:30 pm <br>(Mon to Fri)
                                  </p>
                          </div>
                      </div>
                  </div>
    </div>
  </div>
  <!-- Dehradun Cost Venue Contact -->
  <div class="section" style="padding-top: 0rem; background-color:#FFF3DC;">
    <div class="container space-top">
                  <div class="row text-dark" >
                    <h3 style="margin-top: 2em; font-weight: 600; margin-bottom: 0em;">Dehradun</h3>
                      <div class="col-sm-3">
                          <div>
                              <h4 class="title text-dark text-start">Cost</h4>
                              <h6 style="font-size: small;">Rs. 5,000/- Non-Residential</h6>
                              <h6 style="font-size: small;">Rs. 7,000/- Residential</h6>
                              <h6 style="font-size: small; margin-top: 2em;">Rs. 1,000/- Pre-Registration</h6>
                                 <h6>For Children</h6>
                                 <p style="font-size: small;">
                                  12 Yrs. & Above - Full Cost<br>
                                  11 Yrs. to 6 Yrs. - 70% Cost<br>
                                  5 Yrs. & Below - Free
                                 </p>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div >
                              <h4 class="title text-dark text-start">Venue</h4>
                              <p style="font-size: small;">New Theological College (NTC),
                                  <br>P.O. Kulhan Sahastradhara
                                  <br>Road, Dehradun
                                  <br>Uttarakhand-248001
                                  </p>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div>
                              <h4 class="title text-dark text-start">Time</h4>
                              <h6>Mon - Fri: &nbsp;&nbsp;&nbsp;&nbsp;9 am - 5:30 pm<br>
                              </h6>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div >
                              <h4 class="title text-dark text-start">Contact</h4>
                              <p class="text-start mb-0" style="font-size:small;">Coordinator:</p>
                              <h5 class="text-start" style="font-weight: 700;">Pankaj Bhagwane</h5>
                              <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+918197034745"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 81970 34745</a>
                                <h6 style="font-size: small;">Office timings:</h6>
                                <p style="font-size: small;">9:00 am to 4:30 pm <br>(Mon to Fri)
                                  </p>
                          </div>
                      </div>
                  </div>
    </div>
  </div>
  <!-- Testimonies -->
  <section class="section-cards mb-5">
    <div class="content-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-10 col-12 mx-auto text-start">
            <h2 class="title text-dark text-center mx-auto" style="font-weight: 700;">Testimonies</h2>
          </div>
          <div class="col-md-12 col-md-6">
            <div class="wfc-cards d-flex flex-column-reverse">
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides text-center">
                  <li class="glide__slide">
                    <div class="card card-testimonial">
                      <div class="card-body text-start">
                        <h6 class="card-category">Divya Sudhakar & Vineetha</h6>
                          <div style="padding:56.25% 0 0 0;position:relative;">
                              <iframe src="https://player.vimeo.com/video/869018708?h=3bc6887ab9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Divya Sudhakar &amp; Vineetha"></iframe>
                          </div>
                      </div>
                    </div>
                  </li>
                  <li class="glide__slide">
                    <div class="card card-testimonial">
                      <div class="card-body text-start">
                        <h6 class="card-category">Denver & Mariska</h6>
                        <div style="padding:56.25% 0 0 0;position:relative;">
                          <iframe src="https://player.vimeo.com/video/869018600?h=e5f4dc54fa&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Denver &amp; Mariska"></iframe>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="glide__slide">
                    <div class="card card-testimonial">
                      <div class="card-body text-start">
                        <h6 class="card-category">Cathan & Mable</h6>
                        <div style="padding:56.25% 0 0 0;position:relative;">
                          <iframe src="https://player.vimeo.com/video/869018505?h=9858b5213b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Cathan &amp; Mable"></iframe>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="glide__arrows" data-glide-el="controls">
                <button
                  style="border: 3px solid #000;"
                  class="glide__arrow glide__arrow--left text-default"
                  aria-label="Previous"
                  data-glide-dir="<"
                >
                  <i class="fa fa-arrow-left"> </i>
                </button>
                <button
                  style="border: 3px solid #000;"
                  class="glide__arrow glide__arrow--right text-default"
                  aria-label="Next"
                  data-glide-dir=">"
                >
                  <i class="fa fa-arrow-right"> </i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
