<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/prayer/prayer.webp') ;">
      </div>
  </div>
  <div class="section" style="padding-bottom: 0em;">
      <div class="container">
          <div class="button-container">
            <div class="card" style="max-width: 650px; background-color: #EAD8F5;">
              <div class="card-body text-dark">
                <p style="margin-bottom: auto;">“They devoted themselves to the apostles' teaching and to fellowship, to the breaking of breadand to prayer.”<br>Acts 2:42</p>
              </div>
            </div>
          </div>
          <p class="text-center mx-3" style="margin-top: 1rem; font-size: small; font-weight: 500;">We are called to come together as individuals to add to the growth, edification and building up of the Body of Christ.</p>
      </div>
  </div>
  <!-- Details -->
  <div class="section section-testimonials " style="background-color: #EAD8F5;">
    <div class="mx-4">
      <div class="mx-auto" style="max-width: 850px; display: block;">
        <div class="card-body text-dark">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/prayer/prayer.webp" alt="" class="img rounded ">
            </div>
            <div class="col-md-6">
              <h3 class="card-title text-dark text-start" style="font-weight: 600; margin-top: 0em;">Prayer & Fellowship</h3>
              <p class="text-start" style="font-size: small; font-weight: 500;">“This is the confidence we have in approaching God: that if we ask anything according to his will, he hears us”.1 John 5:14God says, "My House shall be called a House of Prayer." We come together twice a month to be refreshed in the Presence of God and call upon His name in prayer and intercession. Through these 'Prayer Nights' we have seek God's Kingdom and His will to be established. One of the best ways to improve in prayer is to do it in community.</p>
              <h6 class="text-start">They meet every alternate Saturday between 7:00pm to 8:00pm through online zoom meetings.</h6>
              <hr>
              <h6 class="text-start">Contact</h6>
              <p class="text-start" style="font-size: x-small; margin-bottom: 0em;">Coordinator:</p>
              <p class="text-start" class="author" style="margin-bottom: 0rem;">John Victor</p>
              <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: small; color: #000000; font-weight: 600;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98123 56789</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
