<nav class="navbar fixed-top navbar-transparent navbar-absolute" color-on-scroll="500">
  <div class="container-fluid mx-lg-5">
      <div class="navbar-translate">
          <a class="navbar-brand" [routerLink]="['']" placement="bottom">
            <img [src]="logoPath" height="50px" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
          </button>
      </div>
    <!--  <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="white"> -->
      <div class="collapse navbar-collapse" data-color="white">
          <ul class="navbar-nav ml-auto">
              <a ngbDropdown class="nav-item dropdown" style="text-decoration: none;">
                  <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                    <p>CHURCH</p>
                  </div>
                  <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" [routerLink]="['/cells']">Cell Groups</a>
                      <a class="dropdown-item" [routerLink]="['/sections']" fragment="features">Kingdom Kids</a>
                      <a class="dropdown-item" [routerLink]="['/sections']" fragment="blogs">Teens</a>
                      <a class="dropdown-item" [routerLink]="['/sections']" fragment="teams">Daughters of Zion</a>
                      <a class="dropdown-item" [routerLink]="['/sections']" fragment="projects">Prayer & Fellowship</a>
                      <a class="dropdown-item" [routerLink]="['/sections']" fragment="pricing">Calendar</a>
                  </div>
              </a>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/components']" style="text-decoration: none;">
                  <p>CAMPUS</p>
                </a>
              </li>
              <a ngbDropdown class="nav-item dropdown" style="text-decoration: none;">
                  <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                    <p>MINISTRIES</p>
                  </div>
                  <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" [routerLink]="['/ewg']">ENCOUNTER WITH GOD</a>
                      <a class="dropdown-item" [routerLink]="['/wfc1']">PART - I<br>WHOLENESS & FREEDOM</a>
                      <a class="dropdown-item" [routerLink]="['/wfc2']">PART - II<br>WHOLENESS & FREEDOM</a>
                      <a class="dropdown-item" [routerLink]="['/examples/contactus']">GLOBAL PASTORS CONFERENCE</a>
                  </div>
              </a>
              <a ngbDropdown class="nav-item dropdown" style="text-decoration: none;">
                <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                  <p>FAMILY PROGRAMS</p>
                </div>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" [routerLink]="['/examples/aboutus']">PRE MARITAL</a>
                    <a class="dropdown-item" [routerLink]="['/examples/blogpost']">MARRIAGE COURSE</a>
                    <a class="dropdown-item" [routerLink]="['/examples/blogposts']">PARENTING</a>
                </div>
              </a>
              <a ngbDropdown class="nav-item dropdown" style="text-decoration: none;">
                <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                  <p>MISSIONS</p>
                </div>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" [routerLink]="['/examples/aboutus']">EQUIPPING (GEM)</a>
                    <a class="dropdown-item" [routerLink]="['/examples/blogpost']">OUTREACH</a>
                </div>
              </a>
              <a ngbDropdown class="nav-item dropdown" style="text-decoration: none;">
                <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                  <p>SERMONS</p>
                </div>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" [routerLink]="['/examples/aboutus']">SUNDAY SERMONS</a>
                    <a class="dropdown-item" [routerLink]="['/examples/blogpost']">SERMON SERIES</a>
                </div>
              </a>
              <a ngbDropdown class="nav-item dropdown" style="text-decoration: none;">
                <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                  <p>RESOURCES</p>
                </div>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" [routerLink]="['/examples/aboutus']">BOOKS</a>
                </div>
              </a>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/components']" style="text-decoration: none;">
                  <p>SERVE</p>
                </a>
              </li>
              <a ngbDropdown class="nav-item dropdown" style="text-decoration: none;">
                <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                  <p>ABOUT</p>
                </div>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" [routerLink]="['/examples/aboutus']">PRE MARITAL</a>
                    <a class="dropdown-item" [routerLink]="['/examples/blogpost']">MARRIAGE COURSE</a>
                    <a class="dropdown-item" [routerLink]="['/examples/blogposts']">PARENTING</a>
                </div>
              </a>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/components']" style="text-decoration: none;">
                  <p>GIVE</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/components']" style="text-decoration: none;">
                  <p>CONTACT</p>
                </a>
              </li>
          <!-- <li class="nav-item">
                  <a class="nav-link btn btn-primary" href="https://www.creative-tim.com/product/now-ui-kit-pro-angular">
                     <p>Buy now</p>
                  </a>
              </li> -->
          </ul>
      </div>
  </div>
</nav>
