<nav class="navbar fixed-top navbar-transparent navbar-absolute" color-on-scroll="500">
  <div class="container-fluid mx-md-5 mx-3">
      <div class="navbar-translate mx-md-5">
          <a class="navbar-brand" [routerLink]="['']" placement="bottom">
            <img [src]="logoPath" height="45px" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
          </button>
      </div>
    <!--  <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="white"> -->
      <div class="collapse navbar-collapse" data-color="white">
          <ul class="navbar-nav ml-auto text-end">
              <a ngbDropdown class="nav-item dropdown" style="text-decoration: none;">
                  <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                    <p>CHURCH</p>
                  </div>
                  <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right text-end">
                      <a class="dropdown-item" [routerLink]="['/cells']">Cell Groups</a>
                      <a class="dropdown-item" [routerLink]="['/kkids']">Kingdom Kids</a>
                      <a class="dropdown-item" [routerLink]="['/teens']">Teens</a>
                      <a class="dropdown-item" [routerLink]="['/doz']">Daughters of Zion</a>
                      <a class="dropdown-item" [routerLink]="['/prayer']">Prayer & Fellowship</a>
                      <a class="dropdown-item" [routerLink]="['/calendar']" fragment="pricing">Calendar</a>
                  </div>
              </a>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/components']" style="text-decoration: none;">
                  <p style="margin-right: 0.9em">CAMPUS</p>
                </a>
              </li>
              <a ngbDropdown class="nav-item dropdown" style="text-decoration: none;">
                  <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                    <p>CONFERENCES</p>
                  </div>
                  <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right text-end">
                      <a class="dropdown-item" [routerLink]="['/ewg']">ENCOUNTER WITH GOD</a>
                      <a class="dropdown-item" [routerLink]="['/wfc1']">PART - I<br>WHOLENESS & FREEDOM</a>
                      <a class="dropdown-item" [routerLink]="['/wfc2']">PART - II<br>WHOLENESS & FREEDOM</a>
                      <a class="dropdown-item" target="_blank" rel="noreferrer noopener" href="https://www.globalpastorsconference.com/">GLOBAL PASTORS CONFERENCE</a>
                  </div>
              </a>
              <a ngbDropdown class="nav-item dropdown" style="text-decoration: none;">
                <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                  <p>FAMILY PROGRAMS</p>
                </div>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right text-end">
                    <a class="dropdown-item" [routerLink]="['premarital']">PRE MARITAL</a>
                    <a class="dropdown-item" [routerLink]="['marriage']">MARRIAGE COURSE</a>
                    <a class="dropdown-item" [routerLink]="['parenting']">PARENTING</a>
                </div>
              </a>
              <a ngbDropdown class="nav-item dropdown" style="text-decoration: none;">
                <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                  <p>MISSIONS</p>
                </div>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right text-end">
                    <a class="dropdown-item" target="_blank" rel="noreferrer noopener" href="https://www.equipping.in/">EQUIPPING (GEM)</a>
                    <a class="dropdown-item" target="_blank" rel="noreferrer noopener" href="https://www.livingfree.in/">OUTREACH</a>
                </div>
              </a>
              <a ngbDropdown class="nav-item dropdown" style="text-decoration: none;">
                <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                  <p>SERMONS</p>
                </div>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right text-end">
                    <a class="dropdown-item" [routerLink]="['/examples/aboutus']">SUNDAY SERMONS</a>
                    <!-- <a class="dropdown-item" [routerLink]="['/examples/blogpost']">SERMON SERIES</a> -->
                </div>
              </a>
              <a ngbDropdown class="nav-item dropdown" style="text-decoration: none;">
                <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                  <p>RESOURCES</p>
                </div>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right text-end">
                    <a class="dropdown-item" target="_blank" rel="noreferrer noopener" href="https://notionpress.com/author/victor_d_monte">BOOKS</a>
                </div>
              </a>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/serve']" style="text-decoration: none;">
                  <p style="margin-right: 0.9em">SERVE</p>
                </a>
              </li>
              <a ngbDropdown class="nav-item dropdown" style="text-decoration: none;">
                <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                  <p>ABOUT</p>
                </div>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right text-end">
                    <a class="dropdown-item" [routerLink]="['/examples/aboutus']">BELIEFS</a>
                    <a class="dropdown-item" [routerLink]="['/examples/blogpost']">OUR STORY</a>
                    <a class="dropdown-item" [routerLink]="['/examples/blogposts']">STAFF</a>
                </div>
              </a>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/give']" style="text-decoration: none;">
                  <p style="margin-right: 0.9em">GIVE</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']" style="text-decoration: none;">
                  <p style="margin-right: 0.9em">CONTACT</p>
                </a>
              </li>
          <!-- <li class="nav-item">
                  <a class="nav-link btn btn-primary" href="https://www.creative-tim.com/product/now-ui-kit-pro-angular">
                     <p>Buy now</p>
                  </a>
              </li> -->
          </ul>
      </div>
  </div>
</nav>
