<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/doz/doz_banner.webp') ;">
      </div>
  </div>
  <div class="section" style="padding-bottom: 0em;">
      <div class="container">
          <div class="button-container">
            <div class="card" style="max-width: 650px; background-color: #E5EDFF;">
              <div class="card-body text-dark">
                <p style="margin-bottom: auto;">“They devoted themselves to the apostles' teaching and to fellowship, to the breaking of bread and to prayer.” Acts 2:42</p>
              </div>
            </div>
          </div>
          <p class="text-start mx-3" style="margin-top: 1rem; font-size: small; font-weight: 500;">The Teens Ministry caters to the young people in Church (aged 13 to 19). They have regular meetings every week where they learn and grow in the Word as well as understand & express themselves to God and other people.</p>
      </div>
  </div>
  <!-- Details -->
  <div class="section section-testimonials " style="background-color: #E5EDFF;">
    <div class="mx-4">
      <div class="mx-auto" style="max-width: 850px; display: block;">
        <div class="card-body text-dark">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/doz/doz.webp" alt="" class="img rounded ">
            </div>
            <div class="col-md-6">
              <h3 class="card-title text-dark text-start" style="font-weight: 600; margin-top: 0em;">Daughters of Zion</h3>
              <p class="text-start" style="font-size: small; font-weight: 500;">“And pray in the Spirit on all occasions with all kinds of prayers and requests. With this in mind, be alert and always keep on praying for all the Lord's people.”Ephesians 6:18The Daughters of Zion are women that come together weekly to pray for the Church. They intercede for the congregation and the different ministries of the church. They are also the prayer warriors for our nation and its leaders.</p>
              <h6 class="text-start">They meet every alternate Saturday between 7:00pm to 8:00pm through online zoom meetings.</h6>
              <hr>
              <h6 class="text-start">Contact</h6>
              <p class="text-start" style="font-size: x-small; margin-bottom: 0em;">Coordinator:</p>
              <p class="text-start" class="author" style="margin-bottom: 0rem;">Manjula David</p>
              <button type="button" class="btn" style="border: 2px solid #000000 !important; background-color: transparent; font-size: small; color: #000000; font-weight: 600;" [routerLink]="['/cells']"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98123 56789</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
