<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/doz/doz_banner.webp') ;">
      </div>
      <div class="content-center">
        <h1 class="title">Daughters of Zion</h1>
      </div>
  </div>
  <div class="section" style="padding-bottom: 30px;">
      <div class="container">
          <div class="button-container mx-3">
            <div class="card tagcard" style="background-color: #E5EDFF;">
              <div class="card-body text-dark">
                <p class="tagline">“They devoted themselves to the apostles' teaching and to fellowship, to the breaking of bread and to prayer.” Acts 2:42</p>
              </div>
            </div>
          </div>
          <p class="intro">The Teens Ministry caters to the young people in Church (aged 13 to 19). They have regular meetings every week where they learn and grow in the Word as well as understand & express themselves to God and other people.</p>
      </div>
  </div>
  <!-- Details -->
  <div class="section section-testimonials " style="background-color: #E5EDFF;">
    <div class="container">
          <div class="row mx-1 mx-md-3">
            <div class="col-md-6">
              <img src="assets/img/doz/doz.webp" alt="" class="img rounded pb-3">
            </div>
            <div class="col-md-6">
              <h2 class="title text-dark text-start pt-0 mt-0 mb-1">Daughters of Zion</h2>
              <p class="text-start" style="font-weight: 500;">“And pray in the Spirit on all occasions with all kinds of prayers and requests. With this in mind, be alert and always keep on praying for all the Lord's people.”Ephesians 6:18The Daughters of Zion are women that come together weekly to pray for the Church. They intercede for the congregation and the different ministries of the church. They are also the prayer warriors for our nation and its leaders.</p>
              <h5 style="font-weight: 700;">They meet every alternate Saturday between 7:00pm to 8:00pm through online zoom meetings.</h5>
              <hr>
              <h5 style="font-weight: 700;">Contact</h5>
                      <p class="text-start mb-0" style="font-weight: 700;">Coordinator:</p>
                      <p class="text-start" style="font-weight: 500;">Manjula David</p>
              <button type="button" class="d-flex justify-content-start btn text-dark" style="border: 2px solid #111111 !important; font-weight: 600; background-color: transparent; font-size: small;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 98123 56789</button>
            </div>
          </div>
    </div>
  </div>

</div>
