<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/banners/kkids_banner.webp') ;">
      </div>
      <div class="content-center">
        <h1 class="title">Kingdom Kids</h1>
    </div>
  </div>
  <div class="section" style="padding-bottom: 30px;">
      <div class="container">
          <div class="button-container mx-3">
            <div class="card tagcard" style="background-color: #FFF3DC;">
              <div class="card-body text-dark">
                <p class="tagline">The Helper, the Holy Spirit, whom the Father will send in my name, He will teach you all things, and bring to your remembrance all things that I said to you. John 14:26</p>
              </div>
            </div>
          </div>
          <h5 class="text-center" >CURRICULUM</h5>
          <p class="intro">Kingdom Kids follows Group India's Faithweavers curriculum for its children. All the children are taught similar topics on different levels in accordance with their age groups. The teachings are split into parts with different activities as well. This is so that all the different types of learners in the group are able to grasp the truth that is being taught. As there is a focus on kinesthetic learning, the children are able to understand and retain all that is taught to them in class. In 40 lessons the course aims at covering the entire Bible in a year.</p>
          <p class="intro">There are also various different activities that take place throughout the year like Fun Sunday, Prayer Sunday, VBS, Outreach and a Christmas Programme. Through all of this, there is a focus on holistic teaching and practical application that goes beyond what is just spoken of in class. Children are encouraged to grow in the Word and hear God in all that they do, wherever they are.</p>
      </div>
  </div>

      <!--Little Wonders-->
      <div class="section section-testimonials " style="background-color: #FFF3DC;">
        <div class="container">
              <div class="row mx-1 mx-md-3">
                <div class="col-md-6">
                  <img src="assets/img/kkids/little_wonders.webp" alt="" class="img rounded pb-3">
                </div>
                <div class="col-md-6" style="align-self: center;">
                  <h3 class="title text-dark text-start pt-0 mt-0 mb-1">Little Wonders</h3>
                  <h6>Below 3 yrs</h6>
                  <p class="text-start">Classes are held after worship during both the first and second services.</p>
                  <h6>9:15 AM for the first service.<br>11:45 AM for the second service.</h6>
                  <hr>
                  <h6>Contact</h6>
                          <p class="text-start mb-0" style="font-size:small;">Coordinator:</p>
                          <h5 class="text-start" style="font-weight: 700;">Sangeetha Raj</h5>
                  <a type="button" class="btn text-dark" href="tel:+91036983747" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 90369 83747</a>
                </div>
              </div>
        </div>
      </div>

      <!--Tiny Stars-->
      <div class="section section-testimonials" style="background-color: #E5EDFF;">
        <div class="container">
              <div class="row mx-1 mx-md-3 flex-sm-row-reverse">
                <div class="col-md-6">
                  <img src="assets/img/kkids/tiny_stars.webp" alt="" class="img rounded pb-3">
                </div>
                <div class="col-md-6" style="align-self: center;">
                  <h3 class="title text-dark text-start pt-0 mt-0 mb-1">Tiny Stars</h3>
                  <h6>Between 3 - 6 yrs</h6>
                  <p class="text-start">Classes are held after worship during both the first and second services.</p>
                  <h6>9:15 AM for the first service.<br>11:45 AM for the second service.</h6>
                  <hr>
                  <h6>Contact</h6>
                          <p class="text-start mb-0" style="font-size:small;">Coordinator:</p>
                          <h5 class="text-start" style="font-weight: 700;">Suzzane</h5>
                          <a type="button" class="btn text-dark" href="tel:+919986823708" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99868 23708</a>
                        </div>
              </div>
        </div>
      </div>

      <!--Son Shine-->
      <div class="section section-testimonials " style="background-color: #FFE5DD;">
        <div class="container">
              <div class="row mx-1 mx-md-3">
                <div class="col-md-6">
                  <img src="assets/img/kkids/son_shine.webp" alt="" class="img rounded pb-3">
                </div>
                <div class="col-md-6" style="align-self: center;">
                  <h3 class="title text-dark text-start pt-0 mt-0 mb-1">Son Shine</h3>
                  <h6>Between 6 - 9 yrs</h6>
                  <p class="text-start">Classes are held after worship during both the first and second services.</p>
                  <h6>9:15 AM for the first service.<br>11:45 AM for the second service.</h6>
                  <hr>
                  <h6>Contact</h6>
                          <p class="text-start mb-0" style="font-size:small;">Coordinator:</p>
                          <h5 class="text-start" style="font-weight: 700;">Anila Thomas</h5>
                          <a type="button" class="btn text-dark" href="tel:+919538949990" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 95389 49990</a>
                </div>
              </div>
        </div>
      </div>

      <!--J Zone-->
      <div class="section section-testimonials" style="background-color: #FFF3DC;">
        <div class="container">
              <div class="row mx-1 mx-md-3 flex-sm-row-reverse">
                <div class="col-md-6">
                  <img src="assets/img/kkids/j_zone.webp" alt="" class="img rounded pb-3">
                </div>
                <div class="col-md-6" style="align-self: center;">
                  <h3 class="title text-dark text-start pt-0 mt-0 mb-1">J Zone</h3>
                  <h6>Between 9 - 12 yrs</h6>
                  <p class="text-start">Classes are held after worship during both the first and second services.</p>
                  <h6>9:15 AM for the first service.<br>11:45 AM for the second service.</h6>
                  <hr>
                  <h6>Contact</h6>
                          <p class="text-start mb-0" style="font-size: small;">Coordinator:</p>
                          <h5 class="text-start" style="font-weight: 700;">Jane</h5>
                          <a type="button" class="btn text-dark" href="tel:+919902807101" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 99028 07101</a>
                </div>
              </div>
        </div>
      </div>

      <!--Pre Teens-->

      <div class="section section-testimonials " style="background-color: #EAD8F5;">
        <div class="container">
              <div class="row mx-1 mx-md-3">
                <div class="col-md-6" >
                  <img src="assets/img/kkids/preteens.webp" alt="" class="img rounded pb-3">
                </div>
                <div class="col-md-6" style="align-self: center;">
                  <h3 class="title text-dark text-start pt-0 mt-0 mb-1">Preteens</h3>
                  <h6>Between 13 - 14 yrs</h6>
                  <p class="text-start">Classes are held after worship during both the first and second services.</p>
                  <h6>9:15 AM for the first service.<br>11:45 AM for the second service.</h6>
                  <hr>
                  <h6>Contact</h6>
                          <p class="text-start mb-0" style="font-size: small;">Coordinator:</p>
                          <h5 class="text-start" style="font-weight: 700;">Jonathan</h5>
                          <a type="button" class="btn text-dark" href="tel:+919164411803" style="border: 2px solid #111111 !important; font-weight: 700; background-color: transparent; font-size: medium;"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 91644 11803</a>
                </div>
              </div>
        </div>
      </div>

</div>
