<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/banners/campus_banner.webp') ;">
      </div>
  </div>
  <div class="section" style="padding-bottom: 30px;">
      <div class="container">
          <div class="button-container mx-3">
            <div class="card tagcard">
              <div class="card-body text-dark" style="background-color: #E5EDFF;">
                 <p class="tagline">“Then Jesus said, “Did I not tell you that if you believe, you will see the glory of God”<br>John 11:40</p>
              </div>
            </div>
          </div>
          <div class="ratio ratio-16x9 mx-auto" style="max-width: 800px;">
            <iframe src="https://player.vimeo.com/video/713601501?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" title="ADONAI Campus Bangalore"></iframe>
          </div>
          <p class="intro">Come with us on a walkthrough of our new building, easily located and strategically placed close to the outer-ring road. The building is filled with unique architectural elements perfectly suited to its purpose. It's built up three floors and includes three different conference halls fully equipped with everything you might need for holding seminars and conferences. It also includes about 20 guest rooms for lodging on the first, second and third floors each completely furnished to make your stay here as comfortable as possible. This building has been dedicated to the work of God and we truly hope that when you come here that you too will experience the presence of God.<p>
      </div>
  </div>
  <!-- Details -->
  <!-- <div class="section section-testimonials " style="background-color: #E5EDFF;">
    <div class="container">
          <div class="row mx-1 mx-md-3">
            <div class="col-md-6">
              <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                <div class="card-image">
                  <img class="img rounded img-raised mx-auto d-block" src="https://placehold.co/600x370/grey/white.webp">
                  <div class="card-body mx-4">
                    <h4 class="card-title" style="font-weight: 700;">GUEST ROOMS</h4>
                    <p>Cozy double and deluxe rooms are available, these rooms are fully furnished and located slightly off the outer-ring road. A serene place with an open terrace for you to rest and relax.</p>
                    <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+918048470000"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 80484 70000</a>
                    <h5 class="mt-3 mb-0" style="font-weight: 600;">ROOMS AVAILABLE</h5>
                    <p style="font-size: small;">Double Rooms (A.C / Non A.C)<br>
                      Deluxe Rooms (A.C / Non A.C)<br>
                      Extra Mattress at Rs. 300/-</p>
                    <h5 class="mt-3 mb-0" style="font-weight: 600;">FACILITIES AVAILABLE</h5>
                    <p style="font-size: small;">House Keeping<br>
                      Dining Facility (Extra Charge)<br>
                      WiFi<br>
                      Study Table and Chair<br>
                      Power Backup<br>
                      Security</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-blog card-plain" style="margin-bottom: 0rem;">
                <div class="card-image">
                  <img class="img rounded img-raised mx-auto d-block" src="https://placehold.co/600x370/grey/white.webp">
                  <div class="card-body mx-4">
                    <h4 class="card-title" style="font-weight: 700;">CONFERENCE HALLS</h4>
                    <p>Our Conference halls are furnished and equipped to meet your needs whether it is a small seminar or large conference, we have multiple halls suited to cater to the needs of different groups.</p>
                    <a type="button" class="btn phone" style="border: 2px solid #000000 !important; background-color: transparent; font-size: medium; color: #000000; font-weight: 700;" href="tel:+918048470000"><i class="fa fa-phone fa-lg" style="margin-right: 0.5rem; margin-top: 3px;"></i>+91 80484 70000</a>
                    <h5 class="mt-3 mb-0" style="font-weight: 600;">HALLS AVAILABLE</h5>
                    <p style="font-size: small;">80 Seater<br>
                      70 Seater<br>
                      45 Seater</p>
                    <h5 class="mt-3 mb-0" style="font-weight: 600;">FACILITIES AVAILABLE</h5>
                    <p style="font-size: small;">P.A System<br>
                      Air Conditioning<br>
                      Projector<br>
                      Power Backup<br>
                      Parking<br>
                      WiFi</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div> -->

</div>
