<footer class="footer footer-big" data-background-color="black">
  <div class="container">
      <div class="content">
          <div class="row mx-3">
            <div class="col-md-4 text-white" style="margin-bottom: 1rem;">
              <h6>Our Mission</h6>
              <div class="social-feed">
                  <div class="feed-line">
                      <p class="text-white" style="line-height: 1.2em;">Touching Lives,<br>Reaching Communities<br>and Impacting Nations.</p>
                      <span style="font-size: smaller;">We exist for the purpose of Discipling Nations. (Matthew 28:19)</span>
                  </div>
              </div>
            </div>
              <div class="col-md-4 text-white" style="margin-bottom: 1rem;">
                <h6>Contact Us</h6>
                <div class="social-feed">
                    <div class="feed-line">
                        <span style="font-size: smaller;">The Sanctuary,<br>No. 1-8, 3rd Main, Hoysala Nagar,<br>Ramamurthy Nagar Extension,<br>Bangalore 560016.</span>
                        <ul class="links-vertical">
                          <li style="margin-top: 0.5rem;">
                            <i class="fa fa-map-marker" style="padding-bottom: 0;"></i>
                              <a href="#" class="text-primary" style="text-transform: none; text-decoration: underline;">
                                  View on Maps
                              </a>
                          </li>
                          <li style="margin-top: 0.5rem;">
                            <i class="fa fa-phone"></i>
                              <a href="#" class="text-white">
                                  080 48470000
                              </a>
                          </li>
                        </ul>
                    </div>
                </div>
              </div>
              <div class="col-md-2 text-white" style="margin-bottom: 1rem;">
                  <h6>Links</h6>
                  <ul class="links-vertical">
                      <li>
                          <a href="#" class="text-white">
                              About
                          </a>
                      </li>
                      <li>
                          <a href="#" class="text-white">
                              Sermons
                          </a>
                      </li>
                      <li>
                          <a href="#" class="text-white">
                              Ministries
                          </a>
                      </li>
                      <li>
                          <a href="#" class="text-white">
                              Give
                          </a>
                      </li>
                      <li>
                          <a href="#" class="text-white">
                              Disclaimer
                          </a>
                      </li>
                  </ul>
              </div>

              <div class="col-md-2 text-white" style="margin-bottom: 1rem;">
                  <h6>Follow Us</h6>
                  <ul class="links-vertical">
                    <li>
                      <a href="#" style="text-transform: none;">
                          <i class="fa fa-instagram" style="padding-right: 1em;"></i>Instagram
                      </a>
                    </li>
                    <li>
                          <a href="#" style="text-transform: none;">
                              <i class="fa fa-facebook-square" style="padding-right: 1em;"></i>FaceBook
                          </a>
                    </li>
                    <li>
                          <a href="#" style="text-transform: none;">
                              <i class="fa fa-youtube-play" style="padding-right: 1em;"></i>YouTube
                          </a>
                    </li>
                    <li>
                        <a href="#" style="text-transform: none;">
                            <i class="fa fa-spotify" style="padding-right: 1em;"></i>Spotify
                        </a>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- <hr /> -->
      <div class="copyright text-center text-white">
          &copy;
          {{data | date: 'yyyy'}} Adonai Ministries.
      </div>
  </div>
</footer>
